solutions/UZHBFThesisPlatform/Workflows/UZHBFThesisPlatform-ThesisProposalApplication-3050E705-262A-EE11-BDF5-000D3A831DD0.json
{
  "properties": {
    "connectionReferences": {
      "shared_azureblob_1": {
        "api": {
          "name": "shared_azureblob"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_azure_blob_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sharePoint_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365_1": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_outlook365_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_sendmail-2": {
        "api": {
          "name": "shared_sendmail"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_mail_ref"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)": {
          "defaultValue": "https://uzh.sharepoint.com/sites/UZHBFThesisPlatformDEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_sharepoint_site_env_var"
          }
        },
        "Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_outlook_from_address_env_var"
          }
        },
        "Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_thesis_inbox_env_var"
          }
        },
        "Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)": {
          "defaultValue": "ProposalDocuments",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_proposals_document_library_name_env_var"
          }
        },
        "Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)": {
          "defaultValue": "flow@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_email_failure_env_var"
          }
        },
        "Environment (uzhbf_thesisplatform_environment_env_var)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_environment_env_var"
          }
        },
        "Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)": {
          "defaultValue": "abcd",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_flow_secret_env_var"
          }
        },
        "Department (uzhbf_thesisplatform_department_env_var)": {
          "defaultValue": "DF",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_department_env_var"
          }
        },
        "Root URL (uzhbf_thesisplatform_root_url_env_var)": {
          "defaultValue": "https://mentally-ace-maggot.ngrok-free.app",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_root_url_env_var"
          }
        },
        "Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)": {
          "defaultValue": "thesisplatformdev",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_blob_storage_endpoint_env_var"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "properties": {
                "created_at": {
                  "type": "integer"
                },
                "edit_link": {
                  "type": "string"
                },
                "form_hash_id": {
                  "type": "string"
                },
                "form_id": {
                  "type": "integer"
                },
                "form_name": {
                  "type": "string"
                },
                "fullname": {
                  "type": "string"
                },
                "handshake_key": {
                  "type": "string"
                },
                "ip_address": {},
                "matriculationnumber": {
                  "type": "string"
                },
                "motivation": {
                  "type": "string"
                },
                "optin_link": {
                  "type": "string"
                },
                "personalcv": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "proposalid": {
                  "type": "string"
                },
                "startingdate": {
                  "type": "string"
                },
                "submission_hash_id": {
                  "type": "string"
                },
                "submission_id": {
                  "type": "integer"
                },
                "submission_number": {
                  "type": "integer"
                },
                "submission_table": {
                  "type": "string"
                },
                "submission_text": {
                  "type": "string"
                },
                "transcript": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "updated_at": {
                  "type": "integer"
                },
                "url": {
                  "type": "string"
                },
                "user_agent": {
                  "type": "string"
                },
                "uzhemail": {
                  "type": "string"
                },
                "cvFile": {
                  "type": "string"
                },
                "transcriptFile": {
                  "type": "string"
                },
                "proposalTitle": {
                  "type": "string"
                },
                "allowUsage": {
                  "type": "boolean"
                },
                "allowPublication": {
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          },
          "conditions": [],
          "metadata": {
            "operationMetadataId": "d15e6f08-98ad-4619-8b17-69190ea5a22b"
          }
        }
      },
      "actions": {
        "Try": {
          "type": "Scope",
          "actions": {
            "GetCvFile": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                  "path": "/uploads/uploads/@{triggerBody()?['cvFile']}",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                  "operationId": "GetFileContentByPath_V2",
                  "connectionName": "shared_azureblob_1"
                }
              },
              "runAfter": {
                "DummyCompose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bb3743dd-d6ee-4df7-98fb-a803dc4475db"
              }
            },
            "GetTranscriptFile": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                  "path": "uploads/uploads/@{triggerBody()?['transcriptFile']}",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                  "operationId": "GetFileContentByPath_V2",
                  "connectionName": "shared_azureblob_1"
                }
              },
              "runAfter": {
                "DummyCompose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "14d1a5f7-c71b-418c-b446-255db09927ce"
              }
            },
            "CreateCvFile": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Applications/@{triggerBody()?['proposalid']}",
                  "name": "@triggerBody()?['cvFile']",
                  "body": "@body('GetCvFile')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateFile",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "GetCvFile": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "eed4a74f-45b2-460b-a92b-de312a86d0c5"
              }
            },
            "CreateTranscriptFile": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Applications/@{triggerBody()?['proposalid']}",
                  "name": "@triggerBody()?['transcriptFile']",
                  "body": "@body('GetTranscriptFile')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateFile",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "GetTranscriptFile": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "4ab39de7-1c7d-4bbd-8986-da3028cd1dd0"
              }
            },
            "DeleteCvFile": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                  "id": "/uploads/uploads/@{triggerBody()?['cvFile']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                  "operationId": "DeleteFile_V2",
                  "connectionName": "shared_azureblob_1"
                }
              },
              "runAfter": {
                "CreateSharingLinkCv": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "74ffde33-ac17-45f9-b451-f2c07ea4bf45"
              }
            },
            "DeleteTranscriptFile": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                  "id": "/uploads/uploads/@{triggerBody()?['transcriptFile']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                  "operationId": "DeleteFile_V2",
                  "connectionName": "shared_azureblob_1"
                }
              },
              "runAfter": {
                "CreateSharingLinkTranscript": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4db17421-881c-41cc-acdc-0c0610313238"
              }
            },
            "DummyCompose": {
              "type": "Compose",
              "inputs": "DoNothing",
              "metadata": {
                "operationMetadataId": "a5851fcd-2650-45a7-b21a-f62032a98939"
              }
            },
            "SendSupervisorNotification": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                  "emailMessage/To": "@body('Parse_createProposalApplication')?['supervisor']?['email']",
                  "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - New Application for Proposal \"@{body('Parse_createProposalApplication')?['proposal']?['title']}\"",
                  "emailMessage/Body": "<p><strong>Fullname: </strong>@{triggerBody()?['fullname']}<br>\n<strong>Matriculation Number: </strong>@{triggerBody()?['matriculationnumber']}<br>\n<strong>Start Date: </strong>@{triggerBody()?['startingdate']}<br>\n<strong>Motivation: </strong>@{triggerBody()?['motivation']}<br>\n<br>\n<strong>Transcript: <br>\n</strong><strong>@{outputs('CreateSharingLinkTranscript')?['body/link/webUrl']}</strong><br>\n<strong>Pe</strong><strong>rsonal CV: <br>\n</strong><strong>@{outputs('CreateSharingLinkCv')?['body/link/webUrl']}</strong><strong></strong></p>",
                  "emailMessage/Cc": "@body('Parse_createProposalApplication')?['proposal']?['ownedByUserEmail']",
                  "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                  "emailMessage/ReplyTo": "@triggerBody()?['uzhemail']",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "operationId": "SharedMailboxSendEmailV2",
                  "connectionName": "shared_office365_1"
                }
              },
              "runAfter": {
                "Parse_createProposalApplication": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e603a4f-32f8-4286-a880-1c55703f8dba"
              }
            },
            "SendStudentConfirmation": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                  "emailMessage/To": "@triggerBody()?['uzhemail']",
                  "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Confirmation Mail",
                  "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{triggerBody()?['fullname']},<br><br>Thank you for applying to the following proposal: \"@{body('Parse_createProposalApplication')?['proposal']?['title']}\".<br><br>Best regards,<br>@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator<br><br>---<br><br>Fullname: @{triggerBody()?['fullname']}<br>Matriculation Number: @{triggerBody()?['matriculationnumber']}<br>Start Date: @{triggerBody()?['startingdate']}<br>Motivation: @{triggerBody()?['motivation']}</p>",
                  "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "operationId": "SharedMailboxSendEmailV2",
                  "connectionName": "shared_office365_1"
                }
              },
              "runAfter": {
                "SendSupervisorNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b04c8a2d-0210-48ae-bb35-86d85590fac8"
              }
            },
            "CreateSharingLinkCv": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                  "id": "@outputs('CreateCvFile')?['body/ItemId']",
                  "permission/type": "view",
                  "permission/scope": "organization"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateSharingLink",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "CreateCvFile": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "93899caf-113e-4aeb-af1c-884dd4c38f2d"
              }
            },
            "CreateSharingLinkTranscript": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                  "id": "@outputs('CreateTranscriptFile')?['body/ItemId']",
                  "permission/type": "view",
                  "permission/scope": "organization"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateSharingLink",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "CreateTranscriptFile": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0c89f939-751e-44ef-bd8f-b2de0a916585"
              }
            },
            "createProposalApplication": {
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/createProposalApplication",
                "method": "POST",
                "body": {
                  "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                  "proposalApplication": {
                    "email": "@triggerBody()?['uzhemail']",
                    "matriculationNumber": "@triggerBody()?['matriculationnumber']",
                    "fullName": "@triggerBody()?['fullname']",
                    "plannedStartAt": "@triggerBody()?['startingdate']",
                    "motivation": "@triggerBody()?['motivation']",
                    "proposalId": "@triggerBody()?['proposalid']",
                    "allowPublication": "@triggerBody()?['allowPublication']",
                    "allowUsage": "@triggerBody()?['allowUsage']"
                  },
                  "applicationAttachment": {
                    "href_cv": "@outputs('CreateSharingLinkCv')?['body/link/webUrl']",
                    "href_transcript": "@outputs('CreateSharingLinkTranscript')?['body/link/webUrl']"
                  }
                }
              },
              "runAfter": {
                "DeleteCvFile": [
                  "Succeeded"
                ],
                "DeleteTranscriptFile": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "d26b5e51-1325-462e-8b51-ac2ba360a3dc"
              }
            },
            "Parse_createProposalApplication": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('createProposalApplication')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "proposal": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "ownedByUserEmail": {
                          "type": "string"
                        }
                      }
                    },
                    "supervisor": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "createProposalApplication": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a696c8d4-9192-4c92-9071-3ed584ae49ad"
              }
            }
          },
          "runAfter": {
            "IsFLowSecretCorrect": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5dc24c86-4241-49a2-adcd-c9bdc6f126d3"
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "FilterForFailedOrTimedOutStatus": {
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "ca1bedd8-7555-4a99-a290-1c22c2e6e229"
              }
            },
            "CreateHtmlTable": {
              "type": "Table",
              "inputs": {
                "from": "@body('FilterForFailedOrTimedOutStatus')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "ProposalId",
                    "value": "@triggerBody()?['proposalid']"
                  },
                  {
                    "header": "ProposalTitle",
                    "value": "@triggerBody()?['proposalTitle']"
                  },
                  {
                    "header": "Email",
                    "value": "@triggerBody()?['uzhemail']"
                  },
                  {
                    "header": "ErrorCode",
                    "value": "@item()?['code']"
                  }
                ]
              },
              "runAfter": {
                "FilterForFailedOrTimedOutStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "34b6a96f-64c6-43fd-89a3-fe7d5ef245ff"
              }
            },
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              },
              "runAfter": {
                "SendFailureNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f41eff7-41db-4eae-8e12-46f64d545e8b"
              }
            },
            "SendFailureNotification": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/to": "@{parameters('Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)')};",
                  "request/subject": "(@{parameters('Environment (uzhbf_thesisplatform_environment_env_var)')}) Failure in UZH BF Thesis Platform - Thesis Proposal Application",
                  "request/text": "<p>@{body('CreateHtmlTable')}</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
                  "operationId": "SendEmailV3",
                  "connectionName": "shared_sendmail-2"
                }
              },
              "runAfter": {
                "CreateHtmlTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7c370de-36de-45b2-ae99-b7d0e7013242"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "054f28a3-080c-4f8a-9529-1183121f12f9"
          }
        },
        "IsFLowSecretCorrect": {
          "type": "If",
          "expression": {
            "equals": [
              "@triggerOutputs()['headers']['secretKey']",
              "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')"
            ]
          },
          "actions": {},
          "else": {
            "actions": {
              "Terminate_2": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                },
                "metadata": {
                  "operationMetadataId": "b0e5bdca-638d-4f99-bf6a-88e22b939ecb"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2e8497de-b65d-41bd-bc3e-8d913d2aba3c"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}