solutions/UZHBFThesisPlatform/Workflows/UZHBFThesisPlatform-ThesisProposalPosting-F3E0B1EB-152A-EE11-BDF5-000D3A831DD0.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sharePoint_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_azureblob-1": {
        "api": {
          "name": "shared_azureblob"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_azure_blob_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365_1": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_outlook365_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_sendmail-2": {
        "api": {
          "name": "shared_sendmail"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_mail_ref"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)": {
          "defaultValue": "https://uzh.sharepoint.com/sites/UZHBFThesisPlatformDEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_sharepoint_site_env_var"
          }
        },
        "Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_outlook_from_address_env_var"
          }
        },
        "Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_thesis_inbox_env_var"
          }
        },
        "Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)": {
          "defaultValue": "ProposalDocuments",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_proposals_document_library_name_env_var"
          }
        },
        "Environment (uzhbf_thesisplatform_environment_env_var)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_environment_env_var"
          }
        },
        "Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)": {
          "defaultValue": "flow@df.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_email_failure_env_var"
          }
        },
        "Department (uzhbf_thesisplatform_department_env_var)": {
          "defaultValue": "DF",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_department_env_var"
          }
        },
        "Root URL (uzhbf_thesisplatform_root_url_env_var)": {
          "defaultValue": "https://mentally-ace-maggot.ngrok-free.app",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_root_url_env_var"
          }
        },
        "Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)": {
          "defaultValue": "abcd",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_flow_secret_env_var"
          }
        },
        "Cleverreach Client Id (uzhbf_thesisplatform_cleverreach_client_id_env_var)": {
          "defaultValue": "mlilSLcYiw",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_cleverreach_client_id_env_var"
          }
        },
        "Cleverreach Client Secret (uzhbf_thesisplatform_cleverreach_client_secret_env_var)": {
          "defaultValue": "6wfMYQ7SRA3M1iBCMw2xGtsUumQ61A3t",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_cleverreach_client_secret_env_var"
          }
        },
        "Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)": {
          "defaultValue": "thesisplatformdev",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_blob_storage_endpoint_env_var"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "responder": {
                  "type": "string"
                },
                "submitDate": {
                  "type": "string"
                },
                "proposalSummary": {
                  "type": "string"
                },
                "fieldOfResearch": {
                  "type": "string"
                },
                "supervisor": {
                  "type": "string"
                },
                "researchProposalPDF": {
                  "type": "string"
                },
                "proposalTitle": {
                  "type": "string"
                },
                "bachelorOrMasterLevel": {
                  "type": "string"
                },
                "proposalLanguage": {
                  "type": "string"
                },
                "timeFrame": {
                  "type": "string"
                },
                "furtherAttachments": {
                  "type": "string"
                },
                "personResponsibleEmail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "InitializeProposalId": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProposalId",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Condition": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "67873cd9-daa1-4506-8f4f-afd1c518e723"
          }
        },
        "Try": {
          "type": "Scope",
          "actions": {
            "SetProposalId": {
              "type": "SetVariable",
              "inputs": {
                "name": "ProposalId",
                "value": "@{guid()}"
              },
              "metadata": {
                "operationMetadataId": "529ff450-b0d9-46cb-8014-8b375da2ca7e"
              }
            },
            "IsProposalPdfAttached": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['researchProposalPDF']",
                        ""
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "PersistProposalPDF": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                      "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Proposals/@{triggerBody()?['supervisor']}/",
                      "name": "@{variables('ProposalId')}_@{triggerBody()?['researchProposalPDF']}.pdf",
                      "body": "@body('Get_blob_content_using_path_(V2)')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateFile",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Get_blob_content_using_path_(V2)": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "73d10613-2f21-405c-94f2-a864355e8d60"
                  }
                },
                "CreateShareLinkProposalPDF": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                      "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                      "id": "@outputs('PersistProposalPDF')?['body/ItemId']",
                      "permission/type": "view",
                      "permission/scope": "organization"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateSharingLink",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Delete_blob_(V2)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c63fa1e6-f889-4076-b4d1-47638b03d785"
                  }
                },
                "addProposalAttachment": {
                  "type": "Http",
                  "inputs": {
                    "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/addAttachment",
                    "method": "POST",
                    "body": {
                      "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                      "name": "Proposal",
                      "href": "@outputs('CreateShareLinkProposalPDF')?['body/link/webUrl']",
                      "type": "@outputs('PersistProposalPDF')?['body/MediaType']",
                      "proposalId": "@variables('ProposalId')"
                    }
                  },
                  "runAfter": {
                    "CreateShareLinkProposalPDF": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "1079584c-9699-417a-bd5d-9b78f04f95b3"
                  }
                },
                "Get_blob_content_using_path_(V2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                      "path": "/uploads/uploads/@{triggerBody()?['researchProposalPDF']}",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                      "operationId": "GetFileContentByPath_V2",
                      "connectionName": "shared_azureblob-1"
                    }
                  }
                },
                "Delete_blob_(V2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                      "id": "/uploads/uploads/@{triggerBody()?['researchProposalPDF']}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                      "operationId": "DeleteFile_V2",
                      "connectionName": "shared_azureblob-1"
                    }
                  },
                  "runAfter": {
                    "PersistProposalPDF": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "SetProposalId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4c8c8ae-151d-4349-9dfc-5fd8ee44e922"
              }
            },
            "SupervisorConfirmationEmail": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                  "emailMessage/To": "@triggerBody()?['responder']",
                  "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Your Proposal was posted",
                  "emailMessage/Body": "<p class=\"editor-paragraph\">Your proposal on \"@{triggerBody()?['proposalTitle']}\" was posted on the @{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Platform. You will be notified as soon as applications are received.<br><br>The proposal is visible on @{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/@{variables('ProposalId')}.<br><br>If you have any further remarks, please contact the @{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator by replying to this email.<br><br>Best regards,<br>@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator</p>",
                  "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                  "emailMessage/ReplyTo": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "operationId": "SharedMailboxSendEmailV2",
                  "connectionName": "shared_office365_1"
                }
              },
              "runAfter": {
                "IsProposalPdfAttached": [
                  "Succeeded"
                ],
                "HasFurtherAttachments": [
                  "Succeeded"
                ],
                "getResponsibleIdAndAddProposalSupervision": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "daa4cff2-ecb1-4b41-b8b0-5d29d315a3ea"
              }
            },
            "HasFurtherAttachments": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['furtherAttachments']",
                        ""
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Get_blob_content_using_path_(V2)_1": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                      "path": "/uploads/uploads/@{triggerBody()?['furtherAttachments']}",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                      "operationId": "GetFileContentByPath_V2",
                      "connectionName": "shared_azureblob-1"
                    }
                  }
                },
                "PersistAdditionalFile": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                      "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Proposals/@{triggerBody()?['supervisor']}/",
                      "name": "@{variables('ProposalId')}_@{triggerBody()?['furtherAttachments']}.pdf",
                      "body": "@body('Get_blob_content_using_path_(V2)_1')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateFile",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Get_blob_content_using_path_(V2)_1": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "73d10613-2f21-405c-94f2-a864355e8d60"
                  }
                },
                "Delete_blob_(V2)_1": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Blob Storage Endpoint (uzhbf_thesisplatform_blob_storage_endpoint_env_var)')",
                      "id": "/uploads/uploads/@{triggerBody()?['furtherAttachments']}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob",
                      "operationId": "DeleteFile_V2",
                      "connectionName": "shared_azureblob-1"
                    }
                  },
                  "runAfter": {
                    "PersistAdditionalFile": [
                      "Succeeded"
                    ]
                  }
                },
                "CreateShareLinkAttachment": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                      "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                      "id": "@outputs('PersistAdditionalFile')?['body/ItemId']",
                      "permission/type": "view",
                      "permission/scope": "organization"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateSharingLink",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Delete_blob_(V2)_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c63fa1e6-f889-4076-b4d1-47638b03d785"
                  }
                },
                "addFurtherAttachment": {
                  "type": "Http",
                  "inputs": {
                    "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/addAttachment",
                    "method": "POST",
                    "body": {
                      "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                      "name": "Attachment",
                      "href": "@outputs('CreateShareLinkAttachment')?['body/link/webUrl']",
                      "type": "@outputs('PersistAdditionalFile')?['body/MediaType']",
                      "proposalId": "@variables('ProposalId')"
                    }
                  },
                  "runAfter": {
                    "CreateShareLinkAttachment": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "f78dab49-32bf-4e73-b5f2-0828c7f66911"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "SetProposalId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5c34f61b-22b4-4ea3-9b2e-1dc34152a758"
              }
            },
            "addProposal": {
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/addProposal",
                "method": "POST",
                "body": {
                  "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                  "id": "@variables('ProposalId')",
                  "title": "@triggerBody()?['proposalTitle']",
                  "description": "@triggerBody()?['proposalSummary']",
                  "language": "@triggerBody()?['proposalLanguage']",
                  "studyLevel": "@triggerBody()?['bachelorOrMasterLevel']",
                  "topicAreaSlug": "@replace(replace(replace(toLower(triggerBody()?['fieldOfResearch']),' ','_'),',',''),'&','and')",
                  "timeFrame": "@triggerBody()?['timeFrame']",
                  "ownedByUserEmail": "@triggerBody()?['responder']"
                }
              },
              "runAfter": {
                "SetProposalId": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "2d8daf69-89b2-409a-9449-2586c02143fe"
              }
            },
            "getResponsibleIdAndAddProposalSupervision": {
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/getResponsibleIdAndAddProposalSupervision",
                "method": "POST",
                "body": {
                  "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                  "proposalId": "@variables('ProposalId')",
                  "supervisorEmail": "@triggerBody()?['supervisor']",
                  "studyLevel": "@triggerBody()?['bachelorOrMasterLevel']",
                  "responsibleEmail": "@triggerBody()?['personResponsibleEmail']"
                }
              },
              "runAfter": {
                "addProposal": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "961cd9e1-ba5a-4fb6-ba56-5708a1f5337e"
              }
            },
            "IsCleverreachConfigured": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@parameters('Cleverreach Client Id (uzhbf_thesisplatform_cleverreach_client_id_env_var)')",
                        "EMPTY"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@parameters('Cleverreach Client Secret (uzhbf_thesisplatform_cleverreach_client_secret_env_var)')",
                        "EMPTY"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Run_a_Child_Flow": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "3fa5d199-c377-f011-b4cc-00224874b350"
                    },
                    "body": {
                      "template_name": "THESIS_POSTING_TEST",
                      "replacements": [
                        {
                          "placeholder": "{{INTRO_TEXT}}",
                          "replacement": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        },
                        {
                          "placeholder": "{{THESIS_TITLE}}",
                          "replacement": ""
                        },
                        {
                          "placeholder": "{{ADDITIONAL_INFORMATION}}",
                          "replacement": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        },
                        {
                          "placeholder": "{{DEPARTMENT_NAME}}",
                          "replacement": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')}"
                        }
                      ],
                      "sender_email": "maximilian.weber@bluewin.ch",
                      "sender_name": "Max",
                      "subject": "ABC",
                      "receiver_group_id": "571328",
                      "mailing_name": "@concat('TEST_FROM_FLOW_', utcNow())",
                      "client_id": "@parameters('Cleverreach Client Id (uzhbf_thesisplatform_cleverreach_client_id_env_var)')",
                      "client_secret": "@parameters('Cleverreach Client Secret (uzhbf_thesisplatform_cleverreach_client_secret_env_var)')"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "903f2f1f-d414-41fc-8621-7958674d11bb"
                  }
                },
                "SendCleverreachConfirmationMail": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/To": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - New Supervisor Proposal was posted",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">New Cleverreach Mail ready to be sent!<br>Thesis Title: \"@{triggerBody()?['proposalTitle']}\"</p>",
                      "emailMessage/Importance": "High"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SharedMailboxSendEmailV2",
                      "connectionName": "shared_office365_1"
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "daa4cff2-ecb1-4b41-b8b0-5d29d315a3ea"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "SupervisorConfirmationEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1ce5d819-44bb-4d5f-a275-2f033775312e"
              }
            }
          },
          "runAfter": {
            "InitializeProposalId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c6409f3d-dcb2-43dd-b9fc-82dfb5e57771"
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "FilterForFailedOrTimedOutStatus": {
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "ca1bedd8-7555-4a99-a290-1c22c2e6e229"
              }
            },
            "CreateHtmlTable": {
              "type": "Table",
              "inputs": {
                "from": "@body('FilterForFailedOrTimedOutStatus')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "ProposalId",
                    "value": "@triggerBody()?['proposalId']"
                  },
                  {
                    "header": "ProposalTitle",
                    "value": "@triggerBody()?['proposalTitle']"
                  },
                  {
                    "header": "SubmittedBy",
                    "value": "@triggerBody()?['responder']"
                  },
                  {
                    "header": "ErrorCode",
                    "value": "@item()?['code']"
                  }
                ]
              },
              "runAfter": {
                "FilterForFailedOrTimedOutStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "34b6a96f-64c6-43fd-89a3-fe7d5ef245ff"
              }
            },
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              },
              "runAfter": {
                "SendFailureNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f41eff7-41db-4eae-8e12-46f64d545e8b"
              }
            },
            "SendFailureNotification": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/to": "@{parameters('Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)')};",
                  "request/subject": "(@{parameters('Environment (uzhbf_thesisplatform_environment_env_var)')}) Failure in UZH BF Thesis Platform - Thesis Proposal Posting",
                  "request/text": "<p>@{body('CreateHtmlTable')}</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
                  "operationId": "SendEmailV3",
                  "connectionName": "shared_sendmail-2"
                }
              },
              "runAfter": {
                "CreateHtmlTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7c370de-36de-45b2-ae99-b7d0e7013242"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "054f28a3-080c-4f8a-9529-1183121f12f9"
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()['headers']['secretkey']",
                  "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')"
                ]
              }
            ]
          },
          "actions": {},
          "else": {
            "actions": {
              "Terminate2": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}