solutions/UZHBFThesisPlatform/Workflows/UZHBFThesisPlatform-ThesisProposalSubmission-D12D741B-A027-EE11-9966-000D3A8321BD.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_forms_ref"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sharePoint_ref"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_azuremysql": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sql_ref"
        },
        "api": {
          "name": "shared_azuremysql"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sharePoint_ref"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_outlook365_ref"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_sendmail-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_mail_ref"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)": {
          "defaultValue": "https://uzh.sharepoint.com/sites/UZHBFThesisPlatformDEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_sharepoint_site_env_var"
          }
        },
        "Submit Thesis Proposal Forms Id (uzhbf_thesisplatform_submit_thesis_proposal_forms_id_env_var)": {
          "defaultValue": "2zjkx2LkIkypCsNYsWmAs0LFaOQJoXlHrbsK8Pa1si9URUhYTFNWUUdTT0lVUFRCVkJUVEsyWTdBMSQlQCN0PWcu",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_submit_thesis_proposal_forms_id_env_var"
          }
        },
        "Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)": {
          "defaultValue": "maximilian.weber@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_outlook_from_address_env_var"
          }
        },
        "Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)": {
          "defaultValue": "maximilian.weber@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_thesis_inbox_env_var"
          }
        },
        "Originator (uzhbf_thesisplatform_originator_env_var)": {
          "defaultValue": "ccbec20d-63de-420d-a066-ae38282e9641",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_originator_env_var"
          }
        },
        "Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)": {
          "defaultValue": "https://prod-14.switzerlandnorth.logic.azure.com:443/workflows/df4d7fd584834de1bcac66150f2d7e15/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zVrizkBYfyIikgpVkQmNAM2IOJ8eHfJpvIvr7tdC3hc",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var"
          }
        },
        "Supervisors List Name (uzhbf_thesisplatform_supervisors_list_name_env_var)": {
          "defaultValue": "Thesis Supervisors",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_supervisors_list_name_env_var"
          }
        },
        "Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)": {
          "defaultValue": "ProposalDocuments",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_proposals_document_library_name_env_var"
          }
        },
        "Environment (uzhbf_thesisplatform_environment_env_var)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_environment_env_var"
          }
        },
        "Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)": {
          "defaultValue": "flow@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_email_failure_env_var"
          }
        },
        "Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)": {
          "defaultValue": "abcd",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_flow_secret_env_var"
          }
        },
        "Department (uzhbf_thesisplatform_department_env_var)": {
          "defaultValue": "DBF",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_department_env_var"
          }
        }
      },
      "triggers": {
        "NewProposalReceived": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "ca45c026-b268-4926-8d51-803614510557"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "@parameters('Submit Thesis Proposal Forms Id (uzhbf_thesisplatform_submit_thesis_proposal_forms_id_env_var)')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "connectionName": "shared_microsoftforms"
            }
          }
        }
      },
      "actions": {
        "InitializeProposalId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4ae19faf-62a6-4fcd-a3ef-8c80f977ec92"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProposalId",
                "type": "string"
              }
            ]
          }
        },
        "InitializeOriginator": {
          "runAfter": {
            "InitializeProposalId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c66f8744-6f3b-43b9-96a5-ac6d1e473618"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Originator",
                "type": "string"
              }
            ]
          }
        },
        "InitializeMatchingSupervisors": {
          "runAfter": {
            "InitializeOriginator": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "83ac464b-78f9-4823-8504-967a873e0bd8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MatchingSupervisors",
                "type": "array"
              }
            ]
          }
        },
        "InitializeWasSpecificRequest": {
          "runAfter": {
            "InitializeMatchingSupervisors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62d22580-92a1-4331-a6df-b71f154ebed1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WasSpecificRequest",
                "type": "boolean"
              }
            ]
          }
        },
        "InitializeTopicArea": {
          "runAfter": {
            "InitializeWasSpecificRequest": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a71cc778-3ab4-4397-8f6b-a2d86e5858e0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TopicArea",
                "type": "string"
              }
            ]
          }
        },
        "InitializeProposalPdfName": {
          "runAfter": {
            "InitializeTopicArea": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "081090d7-8e0f-4a42-a33d-3ef0a55f02b7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProposalPDFName",
                "type": "string"
              }
            ]
          }
        },
        "InitializePersonalCvPdfName": {
          "runAfter": {
            "InitializeProposalPdfName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c4d455b-8d02-48e8-9d61-0adb91880fa7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PersonalCVPDFName",
                "type": "string"
              }
            ]
          }
        },
        "InitializeTranscriptPdfName": {
          "runAfter": {
            "InitializePersonalCvPdfName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f133a716-39de-4de8-b3bc-bb87b070eacd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TranscriptPDFName",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "GetResponseDetails": {
              "metadata": {
                "operationMetadataId": "d7a6dd06-5c53-41d1-966b-2d312f30fe3a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "form_id": "@parameters('Submit Thesis Proposal Forms Id (uzhbf_thesisplatform_submit_thesis_proposal_forms_id_env_var)')",
                  "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
                  "operationId": "GetFormResponseById",
                  "connectionName": "shared_microsoftforms"
                }
              }
            },
            "SetProposalId": {
              "runAfter": {
                "GetResponseDetails": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a9bc3897-2eca-441e-b401-0ef359b2ffcb"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ProposalId",
                "value": "@{guid()}"
              }
            },
            "SetOriginator": {
              "runAfter": {
                "SetProposalId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b85d8d03-1af3-43cf-9f22-e42b942ff725"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Originator",
                "value": "@parameters('Originator (uzhbf_thesisplatform_originator_env_var)')"
              }
            },
            "SetWasSpecificRequest": {
              "runAfter": {
                "SetOriginator": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b047e5f-a866-4479-b0a4-5d90658c0cfe"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "WasSpecificRequest",
                "value": false
              }
            },
            "SupervisorList": {
              "runAfter": {
                "SetWasSpecificRequest": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ea08e293-d266-49aa-b9e6-adced5938564"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Supervisors List Name (uzhbf_thesisplatform_supervisors_list_name_env_var)')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline_1"
                }
              }
            },
            "SetTopicArea": {
              "runAfter": {
                "SupervisorList": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "193e9122-5159-45ea-9788-9348d2f829ad"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TopicArea",
                "value": "@outputs('GetResponseDetails')?['body/r975d59f3f5114998b6e30c56c035334b']"
              }
            },
            "PersistProposalToDB": {
              "runAfter": {
                "ForEachSupervisor": [
                  "Succeeded",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d90cba3-0cba-448a-a6f3-1bd130f7eed9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "server": "default",
                  "database": "default",
                  "table": "[main].[proposal]",
                  "item/createdAt": "@outputs('GetResponseDetails')?['body/submitDate']",
                  "item/description": "@outputs('GetResponseDetails')?['body/r7425856917f245efbd0c4cb2a7f0c434']",
                  "item/id": "@variables('ProposalId')",
                  "item/language": "@outputs('GetResponseDetails')?['body/r8b7f3f4a7502459598d155e9b31eb25e']",
                  "item/statusKey": "OPEN",
                  "item/studyLevel": "@outputs('GetResponseDetails')?['body/rc797ecd1491b44a0ac091174abbac9f6']",
                  "item/title": "@outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']",
                  "item/topicAreaSlug": "@replace(toLower(variables('TopicArea')),' ','_')",
                  "item/typeKey": "STUDENT",
                  "item/updatedAt": "@outputs('GetResponseDetails')?['body/submitDate']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql",
                  "operationId": "PostItem",
                  "connectionName": "shared_azuremysql"
                }
              }
            },
            "PersistApplicationToDB": {
              "runAfter": {
                "PersistProposalToDB": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fdff0e9f-8f24-4928-bc5f-18b23777b378"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "server": "default",
                  "database": "default",
                  "table": "[main].[proposalapplication]",
                  "item/createdAt": "@outputs('GetResponseDetails')?['body/submitDate']",
                  "item/email": "@outputs('GetResponseDetails')?['body/responder']",
                  "item/fullName": "@outputs('GetResponseDetails')?['body/r7844031f633e4dd49368b0c116ad148d']",
                  "item/id": "@outputs('PersistProposalToDB')?['body/id']",
                  "item/matriculationNumber": "@outputs('GetResponseDetails')?['body/r6c3b387342aa4bd0b5f423aa43662850']",
                  "item/motivation": "@outputs('GetResponseDetails')?['body/r60d760e8828645cc84d8fde2a6fe3b27']",
                  "item/plannedStartAt": "@outputs('GetResponseDetails')?['body/r837fec8c113c4851a217e947217c5b7f']",
                  "item/proposalId": "@outputs('PersistProposalToDB')?['body/id']",
                  "item/statusKey": "OPEN",
                  "item/updatedAt": "@outputs('GetResponseDetails')?['body/submitDate']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql",
                  "operationId": "PostItem",
                  "connectionName": "shared_azuremysql"
                }
              }
            },
            "ParseFileUploadProposalPDF": {
              "runAfter": {
                "PersistApplicationToDB": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5702afa2-f3b2-4293-85b7-c1c553782920"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('GetResponseDetails')?['body/r97c7d5dddc1c46149360e60cee1c31b2']",
                "schema": {
                  "items": {
                    "properties": {
                      "driveId": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "link": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "referenceId": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "integer"
                      },
                      "type": {},
                      "uploadSessionUrl": {}
                    },
                    "required": [
                      "name",
                      "link",
                      "id",
                      "type",
                      "size",
                      "referenceId",
                      "driveId",
                      "status",
                      "uploadSessionUrl"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "ParsePersonalCVPDF": {
              "runAfter": {
                "PersistApplicationToDB": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "eae9f188-4fd6-450d-a4f1-4bb6b0efb139"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('GetResponseDetails')?['body/r36080bd39649467ca994ab4b0435ebbe']",
                "schema": {
                  "items": {
                    "properties": {
                      "driveId": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "link": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "referenceId": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "integer"
                      },
                      "type": {},
                      "uploadSessionUrl": {}
                    },
                    "required": [
                      "name",
                      "link",
                      "id",
                      "type",
                      "size",
                      "referenceId",
                      "driveId",
                      "status",
                      "uploadSessionUrl"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "ParseTranscriptPDF": {
              "runAfter": {
                "PersistApplicationToDB": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c48ec50d-be41-451e-881b-564d5026744c"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('GetResponseDetails')?['body/rd29a58b86f3541de8de84ed702dd0eec']",
                "schema": {
                  "items": {
                    "properties": {
                      "driveId": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "link": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "referenceId": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "integer"
                      },
                      "type": {},
                      "uploadSessionUrl": {}
                    },
                    "required": [
                      "name",
                      "link",
                      "id",
                      "type",
                      "size",
                      "referenceId",
                      "driveId",
                      "status",
                      "uploadSessionUrl"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "SetProposalPdfName": {
              "runAfter": {
                "ParseFileUploadProposalPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "74877f03-bb0b-44eb-afcb-5d1a8d91c64d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ProposalPDFName",
                "value": "@{first(body('ParseFileUploadProposalPDF'))?['name']}"
              }
            },
            "PersistProposalFile": {
              "runAfter": {
                "GetProposalFileContentUsingPath": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "14d5659d-ec2a-4436-a3e4-164bf6e1422e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Proposals/@{outputs('GetResponseDetails')?['body/responder']}",
                  "name": "@{variables('ProposalId')}_proposal_@{variables('ProposalPDFName')}",
                  "body": "@body('GetProposalFileContentUsingPath')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateFile",
                  "connectionName": "shared_sharepointonline_1"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "ShareLinkProposalFile": {
              "runAfter": {
                "PersistProposalFile": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "97073148-ecee-4222-bc02-d5463a009fb0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                  "id": "@outputs('PersistProposalFile')?['body/ItemId']",
                  "permission/type": "view",
                  "permission/scope": "organization"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateSharingLink",
                  "connectionName": "shared_sharepointonline_1"
                }
              }
            },
            "SetPersonalCvPdfName": {
              "runAfter": {
                "ParsePersonalCVPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f71a2b8-c445-4495-8bfd-f06d5d687972"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "PersonalCVPDFName",
                "value": "@{first(body('ParsePersonalCVPDF'))?['name']}"
              }
            },
            "PersistCVPDF": {
              "runAfter": {
                "GetCVFileContentUsingPath": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5addcee8-04fe-48e5-aa5b-e73aa3bf0b27"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Proposals/@{outputs('GetResponseDetails')?['body/responder']}",
                  "name": "@{variables('ProposalId')}_cv_@{variables('PersonalCVPDFName')}",
                  "body": "@body('GetCVFileContentUsingPath')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateFile",
                  "connectionName": "shared_sharepointonline_1"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "ShareLinkCVPDF": {
              "runAfter": {
                "PersistCVPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f98fbe3a-7eae-42a9-9aec-2a4950006e98"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                  "id": "@outputs('PersistCVPDF')?['body/ItemId']",
                  "permission/type": "view",
                  "permission/scope": "organization"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateSharingLink",
                  "connectionName": "shared_sharepointonline_1"
                }
              }
            },
            "SetTranscriptPdfName": {
              "runAfter": {
                "ParseTranscriptPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "748c8af6-c8e9-4914-a67c-7900bc26e727"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TranscriptPDFName",
                "value": "@{first(body('ParseTranscriptPDF'))?['name']}"
              }
            },
            "PersistTranscriptPDF": {
              "runAfter": {
                "GetTranscriptFileContentUsingPath_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c15d6cd9-aa79-4e96-bab0-c70a00a42518"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Proposals/@{outputs('GetResponseDetails')?['body/responder']}",
                  "name": "@{variables('ProposalId')}_transcript_@{variables('TranscriptPDFName')}",
                  "body": "@body('GetTranscriptFileContentUsingPath_')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateFile",
                  "connectionName": "shared_sharepointonline_1"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "ShareLinkTranscriptPDF": {
              "runAfter": {
                "PersistTranscriptPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5aa84c0a-2fdd-4b42-a54a-9d0e05c65856"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                  "id": "@outputs('PersistTranscriptPDF')?['body/ItemId']",
                  "permission/type": "view",
                  "permission/scope": "organization"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "CreateSharingLink",
                  "connectionName": "shared_sharepointonline_1"
                }
              }
            },
            "CreateProposalAttachment": {
              "runAfter": {
                "ShareLinkProposalFile": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e3eb6ad7-b695-48b4-8f21-2c10c4ab6b96"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "server": "default",
                  "database": "default",
                  "table": "[main].[proposalattachment]",
                  "item/createdAt": "@outputs('GetResponseDetails')?['body/submitDate']",
                  "item/href": "@outputs('ShareLinkProposalFile')?['body/link/webUrl']",
                  "item/id": "@{guid()}",
                  "item/name": "Proposal",
                  "item/proposalId": "@variables('ProposalId')",
                  "item/type": "@outputs('PersistProposalFile')?['body/MediaType']",
                  "item/updatedAt": "@outputs('GetResponseDetails')?['body/submitDate']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql",
                  "operationId": "PostItem",
                  "connectionName": "shared_azuremysql"
                }
              }
            },
            "CreateCVAttachment": {
              "runAfter": {
                "ShareLinkCVPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "edca8bce-6316-4cee-b027-83094e1b5a19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "server": "default",
                  "database": "default",
                  "table": "[main].[applicationattachment]",
                  "item/createdAt": "@outputs('GetResponseDetails')?['body/submitDate']",
                  "item/href": "@outputs('ShareLinkCVPDF')?['body/link/webUrl']",
                  "item/id": "@{guid()}",
                  "item/name": "CV",
                  "item/proposalApplicationId": "@outputs('PersistApplicationToDB')?['body/id']",
                  "item/type": "@outputs('PersistCVPDF')?['body/MediaType']",
                  "item/updatedAt": "@outputs('GetResponseDetails')?['body/submitDate']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql",
                  "operationId": "PostItem",
                  "connectionName": "shared_azuremysql"
                }
              }
            },
            "CreateTranscriptAttachment": {
              "runAfter": {
                "ShareLinkTranscriptPDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6023d5d8-64fd-4511-812e-c3f1f0b1bd8f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "server": "default",
                  "database": "default",
                  "table": "[main].[applicationattachment]",
                  "item/createdAt": "@outputs('GetResponseDetails')?['body/submitDate']",
                  "item/href": "@outputs('ShareLinkTranscriptPDF')?['body/link/webUrl']",
                  "item/id": "@{guid()}",
                  "item/name": "Transcript",
                  "item/proposalApplicationId": "@outputs('PersistApplicationToDB')?['body/id']",
                  "item/type": "@outputs('PersistTranscriptPDF')?['body/MediaType']",
                  "item/updatedAt": "@outputs('GetResponseDetails')?['body/submitDate']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql",
                  "operationId": "PostItem",
                  "connectionName": "shared_azuremysql"
                }
              }
            },
            "ForEachSupervisor": {
              "foreach": "@outputs('SupervisorList')?['body/value']",
              "actions": {
                "ForEachAreaOfInterest": {
                  "foreach": "@items('ForEachSupervisor')?['AreasOfInterest']",
                  "actions": {
                    "IsSupervisingTopicArea": {
                      "actions": {
                        "AppendToMatchingSupervisors": {
                          "metadata": {
                            "operationMetadataId": "c2e44021-c939-4132-a7da-e0d1b23020cd"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "MatchingSupervisors",
                            "value": "@items('ForEachSupervisor')?['Email']"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@items('ForEachAreaOfinterest')?['Value']",
                              "@variables('TopicArea')"
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('GetEmailNotificationEnabled')",
                              "y"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b3c57ab-9365-4f2e-88e1-09f66daff6f0"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "GetEmailNotificationEnabled": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3cdcdaa5-8261-4fbc-9cc8-80f431b3c204"
                  },
                  "type": "Foreach"
                },
                "GetEmailNotificationEnabled": {
                  "type": "Compose",
                  "inputs": "@items('ForEachSupervisor')['EmailNotification']?['Value']"
                }
              },
              "runAfter": {
                "SetTopicArea": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2a8c2544-f8b6-40be-8842-9a8104fc0fc1"
              },
              "type": "Foreach"
            },
            "GetProposalFileContentUsingPath": {
              "runAfter": {
                "SetProposalPdfName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6a4d4b80-363c-4fa2-987a-c6ffe1eb477d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "path": "Shared Documents/Apps/Microsoft Forms/Submit Thesis Proposal/Research Proposal (MS Word or PDF)/@{variables('ProposalPDFName')}",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContentByPath",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "GetCVFileContentUsingPath": {
              "runAfter": {
                "SetPersonalCvPdfName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6a4d4b80-363c-4fa2-987a-c6ffe1eb477d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "path": "Shared Documents/Apps/Microsoft Forms/Submit Thesis Proposal/Personal CV (PDF)/@{variables('PersonalCVPDFName')}",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContentByPath",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "GetTranscriptFileContentUsingPath_": {
              "runAfter": {
                "SetTranscriptPdfName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6a4d4b80-363c-4fa2-987a-c6ffe1eb477d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "path": "Shared Documents/Apps/Microsoft Forms/Submit Thesis Proposal/Transcript of Records (PDF)/@{variables('TranscriptPDFName')}",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContentByPath",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "HasFurtherAttachments": {
              "actions": {
                "ParseJSON": {
                  "metadata": {
                    "operationMetadataId": "eab6a594-1385-4e5e-b663-fb671444906b"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('GetResponseDetails')?['r03afe1c9ab4547a18b4bdbff6418b128']",
                    "schema": {
                      "items": {
                        "properties": {
                          "driveId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "referenceId": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "type": {},
                          "uploadSessionUrl": {}
                        },
                        "required": [
                          "name",
                          "link",
                          "id",
                          "type",
                          "size",
                          "referenceId",
                          "driveId",
                          "status",
                          "uploadSessionUrl"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  }
                },
                "ApplyToEach": {
                  "foreach": "@body('ParseJSON')",
                  "actions": {
                    "GetLinkToFile": {
                      "metadata": {
                        "operationMetadataId": "b70302ea-adc9-4092-b37f-76fc3cd2822d"
                      },
                      "type": "Compose",
                      "inputs": "@items('ApplyToEach')['link']"
                    },
                    "GetFileName": {
                      "runAfter": {
                        "GetLinkToFile": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "478500e3-9558-49b7-99e0-f2dc3d7a2f6a"
                      },
                      "type": "Compose",
                      "inputs": "@items('ApplyToEach')['name']"
                    },
                    "GetFurtherFileContentUsingPath": {
                      "runAfter": {
                        "GetFileName": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4edb2b43-d449-44b1-9912-1402f0964deb"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                          "path": "Shared Documents/Apps/Microsoft Forms/Submit Thesis Proposal/Further Attachments/@{outputs('GetFileName')}",
                          "inferContentType": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "GetFileContentByPath",
                          "connectionName": "shared_sharepointonline_1"
                        }
                      }
                    },
                    "PersistAdditionalFile": {
                      "runAfter": {
                        "GetFurtherFileContentUsingPath": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "73d10613-2f21-405c-94f2-a864355e8d60"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                          "folderPath": "/@{parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')}/Proposals/@{outputs('GetResponseDetails')?['body/responder']}",
                          "name": "@{variables('ProposalId')}_attachment_@{outputs('GetFileName')}",
                          "body": "@body('GetFurtherFileContentUsingPath')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateFile",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    },
                    "ShareLinkAttachment": {
                      "runAfter": {
                        "PersistAdditionalFile": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5aa84c0a-2fdd-4b42-a54a-9d0e05c65856"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                          "table": "@parameters('Proposals Document Library Name (uzhbf_thesisplatform_proposals_document_library_name_env_var)')",
                          "id": "@outputs('PersistAdditionalFile')?['body/ItemId']",
                          "permission/type": "view",
                          "permission/scope": "organization"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "CreateSharingLink",
                          "connectionName": "shared_sharepointonline_1"
                        }
                      }
                    },
                    "CreateFurtherAttachment": {
                      "runAfter": {
                        "ShareLinkAttachment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6023d5d8-64fd-4511-812e-c3f1f0b1bd8f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "server": "default",
                          "database": "default",
                          "table": "[main].[applicationattachment]",
                          "item/createdAt": "@outputs('GetResponseDetails')?['body/submitDate']",
                          "item/href": "@outputs('ShareLinkAttachment')?['body/link/webUrl']",
                          "item/id": "@{guid()}",
                          "item/name": "Attachment",
                          "item/proposalApplicationId": "@outputs('PersistApplicationToDB')?['body/id']",
                          "item/type": "@outputs('PersistAdditionalFile')?['body/MediaType']",
                          "item/updatedAt": "@outputs('GetResponseDetails')?['body/submitDate']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql",
                          "operationId": "PostItem",
                          "connectionName": "shared_azuremysql"
                        }
                      }
                    },
                    "AppendAttachmentLinkToArray": {
                      "runAfter": {
                        "CreateFurtherAttachment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "74ef45a8-c5b8-4f87-9837-66f24094a7b3"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "links",
                        "value": {
                          "type": "Action.OpenUrl",
                          "title": "Attachment",
                          "url": "@{outputs('ShareLinkAttachment')?['body/link/webUrl']}"
                        }
                      }
                    },
                    "AppendAttachmentLinkToString": {
                      "runAfter": {
                        "AppendAttachmentLinkToArray": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df7b500c-36cc-469c-ad57-998fba723271"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "linksAsList",
                        "value": "<li><a href=\"@{outputs('ShareLinkAttachment')?['body/link/webUrl']}\">@{outputs('ShareLinkAttachment')?['body/link/webUrl']}</a></li>"
                      }
                    }
                  },
                  "runAfter": {
                    "ParseJSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7bf6e852-4c83-4f54-9d6f-0d383f6a1a19"
                  },
                  "type": "Foreach"
                },
                "EmailToSupervisorsWithAttachments": {
                  "foreach": "@variables('MatchingSupervisors')",
                  "actions": {
                    "AdaptiveCardWithAttachments": {
                      "metadata": {
                        "operationMetadataId": "fe7ccff6-5733-4c75-8c50-ce0674dbd1b1"
                      },
                      "type": "Compose",
                      "inputs": {
                        "type": "AdaptiveCard",
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "version": "1.3",
                        "originator": "@{variables('Originator')}",
                        "body": [
                          {
                            "type": "TextBlock",
                            "text": "@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']}",
                            "wrap": true,
                            "weight": "Bolder",
                            "size": "Medium"
                          },
                          {
                            "type": "TextBlock",
                            "text": "@{outputs('GetResponseDetails')?['body/r7425856917f245efbd0c4cb2a7f0c434']}",
                            "wrap": true
                          },
                          {
                            "type": "TextBlock",
                            "text": "@{outputs('GetResponseDetails')?['body/r60d760e8828645cc84d8fde2a6fe3b27']}",
                            "wrap": true
                          },
                          {
                            "type": "FactSet",
                            "facts": [
                              {
                                "title": "Submitted By",
                                "value": "@{outputs('GetResponseDetails')?['body/r7844031f633e4dd49368b0c116ad148d']} (@{outputs('GetResponseDetails')?['body/r6c3b387342aa4bd0b5f423aa43662850']}, @{outputs('GetResponseDetails')?['body/responder']})"
                              },
                              {
                                "title": "Proposed Title",
                                "value": "@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']}"
                              },
                              {
                                "title": "Type of Proposal",
                                "value": "@{outputs('GetResponseDetails')?['body/rc797ecd1491b44a0ac091174abbac9f6']}"
                              },
                              {
                                "title": "Field of Research",
                                "value": "@{outputs('GetResponseDetails')?['body/r975d59f3f5114998b6e30c56c035334b']}"
                              },
                              {
                                "title": "Proposal Language",
                                "value": "@{outputs('GetResponseDetails')?['body/r8b7f3f4a7502459598d155e9b31eb25e']}"
                              },
                              {
                                "title": "Planned Start Date",
                                "value": "@{outputs('GetResponseDetails')?['body/r837fec8c113c4851a217e947217c5b7f']}"
                              },
                              {
                                "title": "Additional Comment",
                                "value": "@{outputs('GetResponseDetails')?['body/r036f3f6320bc47e5b8c3694816ffe095']}"
                              }
                            ],
                            "separator": true
                          },
                          {
                            "type": "ActionSet",
                            "actions": "@variables('links')"
                          }
                        ],
                        "actions": [
                          {
                            "type": "Action.ShowCard",
                            "title": "Accept",
                            "card": {
                              "type": "AdaptiveCard",
                              "body": [
                                {
                                  "type": "TextBlock",
                                  "text": "Once you accept this proposal, the student will be asked to verify the matching. The proposal will be removed from the proposal market and assigned to you for supervision.",
                                  "wrap": true
                                },
                                {
                                  "type": "Input.Text",
                                  "placeholder": "Your message will be sent to the student alongside your acceptance notification.",
                                  "id": "acceptComment",
                                  "isRequired": true,
                                  "errorMessage": "Field required",
                                  "label": "Comment"
                                }
                              ],
                              "actions": [
                                {
                                  "type": "Action.Http",
                                  "title": "Submit",
                                  "method": "POST",
                                  "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                  "body": "{\"actionType\": \"ACCEPT\", \"comment\": \"{{acceptComment.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisorsWithAttachments')}\"}",
                                  "headers": [
                                    {
                                      "name": "Authorization",
                                      "value": ""
                                    },
                                    {
                                      "name": "Content-type",
                                      "value": "application/json"
                                    },
                                    {
                                      "name": "secretkey",
                                      "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                    }
                                  ]
                                }
                              ]
                            }
                          },
                          {
                            "type": "Action.ShowCard",
                            "title": "Accept (Tentative)",
                            "card": {
                              "type": "AdaptiveCard",
                              "body": [
                                {
                                  "type": "TextBlock",
                                  "text": "When you accept the proposal tentatively, the student will receive your feedback and is required to improve the proposal before you finally accept the proposal for supervision.",
                                  "wrap": true
                                },
                                {
                                  "type": "Input.Text",
                                  "placeholder": "Your message will be sent to the student alongside your notification of interest.",
                                  "id": "tentativeComment",
                                  "label": "Comment",
                                  "isMultiline": true,
                                  "isRequired": true,
                                  "errorMessage": "Field required"
                                }
                              ],
                              "actions": [
                                {
                                  "type": "Action.Http",
                                  "title": "Submit",
                                  "method": "POST",
                                  "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                  "body": "{\"actionType\": \"ACCEPT_TENTATIVE\", \"comment\": \"{{tentativeComment.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisorsWithAttachments')}\"}",
                                  "headers": [
                                    {
                                      "name": "Authorization",
                                      "value": ""
                                    },
                                    {
                                      "name": "Content-type",
                                      "value": "application/json"
                                    },
                                    {
                                      "name": "secretkey",
                                      "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                    }
                                  ]
                                }
                              ]
                            }
                          },
                          {
                            "type": "Action.ShowCard",
                            "title": "Reject",
                            "card": {
                              "type": "AdaptiveCard",
                              "body": [
                                {
                                  "type": "TextBlock",
                                  "text": "Rejecting this proposal because of lacking content quality or format requirements will cause review by the thesis coordinator. The student will need to improve and resubmit the proposal.",
                                  "wrap": true
                                },
                                {
                                  "type": "Input.ChoiceSet",
                                  "choices": [
                                    {
                                      "title": "Proposal too broad",
                                      "value": "TOO_BROAD"
                                    },
                                    {
                                      "title": "Proposal not sufficiently scientific",
                                      "value": "NOT_SCIENTIFIC"
                                    },
                                    {
                                      "title": "Proposal or scope not clear",
                                      "value": "NOT_CLEAR"
                                    },
                                    {
                                      "title": "Format unsuitable",
                                      "value": "FORMAT_UNSUITABLE"
                                    },
                                    {
                                      "title": "Mismatch in topic area",
                                      "value": "TOPIC_AREA_INVALID"
                                    }
                                  ],
                                  "placeholder": "Why should this proposal be rejected?",
                                  "isRequired": true,
                                  "id": "rejectReason",
                                  "errorMessage": "Field required",
                                  "label": "Reason"
                                },
                                {
                                  "type": "Input.Text",
                                  "placeholder": "Why do you recommend this proposal for rejection? Your comment will not be shown to the student.",
                                  "id": "rejectComment",
                                  "isRequired": true,
                                  "errorMessage": "Field required",
                                  "label": "Comment",
                                  "isMultiline": true
                                }
                              ],
                              "actions": [
                                {
                                  "type": "Action.Http",
                                  "title": "Submit",
                                  "method": "POST",
                                  "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                  "body": "{\"actionType\": \"REJECT\", \"comment\": \"{{rejectComment.value}}\", \n\"reason\": \"{{rejectReason.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisorsWithAttachments')}\"}",
                                  "headers": [
                                    {
                                      "name": "Authorization",
                                      "value": ""
                                    },
                                    {
                                      "name": "Content-type",
                                      "value": "application/json"
                                    },
                                    {
                                      "name": "secretkey",
                                      "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                    }
                                  ]
                                }
                              ]
                            }
                          },
                          {
                            "type": "Action.ShowCard",
                            "title": "Decline",
                            "card": {
                              "type": "AdaptiveCard",
                              "body": [
                                {
                                  "type": "TextBlock",
                                  "text": "Declining this proposal because of a mismatch of interests or a high workload on your side will keep it available for other supervisors.",
                                  "wrap": true
                                },
                                {
                                  "type": "Input.ChoiceSet",
                                  "choices": [
                                    {
                                      "title": "Lack of interest in specific topic",
                                      "value": "LACKING_INTEREST"
                                    },
                                    {
                                      "title": "Personal workload too high",
                                      "value": "PERSONAL_WORKLOAD"
                                    },
                                    {
                                      "title": "Mismatch in language",
                                      "value": "LANGUAGE"
                                    }
                                  ],
                                  "placeholder": "Why do you want to decline this proposal?",
                                  "id": "declineReason",
                                  "label": "Reason",
                                  "isRequired": true,
                                  "errorMessage": "Field required"
                                },
                                {
                                  "type": "Input.Text",
                                  "placeholder": "Why do you decline this proposal specifically? Your comment will not be shown to the student.",
                                  "id": "declineComment",
                                  "label": "Comment",
                                  "isMultiline": true,
                                  "isRequired": true,
                                  "errorMessage": "Field required"
                                }
                              ],
                              "actions": [
                                {
                                  "type": "Action.Http",
                                  "title": "Submit",
                                  "method": "POST",
                                  "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                  "body": "{\"actionType\": \"DECLINE\", \"comment\": \"{{declineComment.value}}\", \n\"reason\": \"{{declineReason.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisorsWithAttachments')}\"}",
                                  "headers": [
                                    {
                                      "name": "Authorization",
                                      "value": ""
                                    },
                                    {
                                      "name": "Content-type",
                                      "value": "application/json"
                                    },
                                    {
                                      "name": "secretkey",
                                      "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                    }
                                  ]
                                }
                              ]
                            }
                          }
                        ],
                        "autoInvokeAction": {
                          "type": "Action.Http",
                          "method": "POST",
                          "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                          "body": "{\"actionType\": \"REFETCH\",\"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisorsWithAttachments')}\"}",
                          "headers": [
                            {
                              "name": "Authorization",
                              "value": ""
                            },
                            {
                              "name": "Content-type",
                              "value": "application/json"
                            },
                            {
                              "name": "secretkey",
                              "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                            }
                          ]
                        }
                      }
                    },
                    "EmailContentsWithAttachments": {
                      "runAfter": {
                        "AdaptiveCardWithAttachments": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4a75e677-4358-4992-a664-ffe5b41e0922"
                      },
                      "type": "Compose",
                      "inputs": "<script type=\"application/adaptivecard+json\">\n@{outputs('AdaptiveCardWithAttachments')}\n</script>"
                    },
                    "SupervisorInformationEmailWithAttachments": {
                      "runAfter": {
                        "EmailContentsWithAttachments": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ca5e164f-cb5e-4a62-9467-189c5311ca33"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                          "emailMessage/To": "@items('EmailToSupervisorsWithAttachments')",
                          "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - New Proposal for Review (@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']})",
                          "emailMessage/Body": "@outputs('EmailContentsWithAttachments')",
                          "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                          "emailMessage/Attachments": [
                            {
                              "Name": "@variables('PersonalCVPDFName')",
                              "ContentBytes": "@body('GetCVFileContentUsingPath')"
                            },
                            {
                              "Name": "@variables('TranscriptPDFName')",
                              "ContentBytes": "@body('GetTranscriptFileContentUsingPath_')"
                            },
                            {
                              "Name": "@variables('ProposalPDFName')",
                              "ContentBytes": "@body('GetProposalFileContentUsingPath')"
                            }
                          ],
                          "emailMessage/ReplyTo": "@outputs('GetResponseDetails')?['body/responder']",
                          "emailMessage/Importance": "High"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365_1"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "AppendListClosing": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "59fc0f49-7782-4696-b7cb-f1b30f3402ea"
                  },
                  "type": "Foreach"
                },
                "StudentConfirmationEmailWithAttachments": {
                  "runAfter": {
                    "EmailToSupervisorsWithAttachments": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "956b2cfb-109b-4b96-b61d-4431cd5de8f4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/To": "@outputs('GetResponseDetails')?['body/responder']",
                      "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Your Proposal has been received (@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']})",
                      "emailMessage/Body": "<p>Dear @{outputs('GetResponseDetails')?['body/r7844031f633e4dd49368b0c116ad148d']},<br>\n<br>\nWe have received your thesis proposal with the information as provided below. Please keep in mind that the thesis matching process usually takes about one month, but might take less or more depending on the workload of our supervisors. You will hear from us as soon as the proposal has been matched to a supervisor or if any further action from your side should be required.<br>\n<br>\nIf you have any <strong>urgent</strong> questions, please contact our @{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator by replying to this email.<br>\n<br>\nBest regards,<br>\n@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator<br>\n<br>\n---<br>\n<br>\n<strong>Submitted By:</strong> @{outputs('GetResponseDetails')?['body/submitDate']} (@{outputs('GetResponseDetails')?['body/responder']})<br>\n<br>\n<strong>Proposed</strong> <strong>Title:</strong> @{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']}<br>\n<strong>Thesis Language:</strong> @{outputs('GetResponseDetails')?['body/r8b7f3f4a7502459598d155e9b31eb25e']}<br>\n<strong>Field of Research:</strong> @{outputs('GetResponseDetails')?['body/r975d59f3f5114998b6e30c56c035334b']}<br>\n<strong>Planned Start Date:</strong> @{outputs('GetResponseDetails')?['body/r837fec8c113c4851a217e947217c5b7f']}<br>\n<br>\n<strong>Summary:</strong> @{outputs('GetResponseDetails')?['body/r7425856917f245efbd0c4cb2a7f0c434']}<br>\n<strong>Motivation:</strong> @{outputs('GetResponseDetails')?['body/r60d760e8828645cc84d8fde2a6fe3b27']}<br>\n<br>\n<strong>Further Attachments:</strong> @{variables('linksAsList')}</p>",
                      "emailMessage/Attachments": [
                        {
                          "Name": "@variables('PersonalCVPDFName')",
                          "ContentBytes": "@body('GetCVFileContentUsingPath')"
                        },
                        {
                          "Name": "@variables('TranscriptPDFName')",
                          "ContentBytes": "@body('GetTranscriptFileContentUsingPath_')"
                        },
                        {
                          "Name": "@variables('ProposalPDFName')",
                          "ContentBytes": "@body('GetProposalFileContentUsingPath')"
                        }
                      ],
                      "emailMessage/ReplyTo": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                      "emailMessage/Importance": "High"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SharedMailboxSendEmailV2",
                      "connectionName": "shared_office365_1"
                    }
                  }
                },
                "AppendListClosing": {
                  "runAfter": {
                    "ApplyToEach": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5e201a86-23eb-49cf-a67a-0c2fc4acce69"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "linksAsList",
                    "value": "</ul>"
                  }
                }
              },
              "runAfter": {
                "CreateCVAttachment": [
                  "Succeeded"
                ],
                "CreateProposalAttachment": [
                  "Succeeded"
                ],
                "CreateTranscriptAttachment": [
                  "Succeeded"
                ],
                "PersistApplicationToDB": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "EmailToSupervisors": {
                    "foreach": "@variables('MatchingSupervisors')",
                    "actions": {
                      "AdaptiveCard": {
                        "metadata": {
                          "operationMetadataId": "fe7ccff6-5733-4c75-8c50-ce0674dbd1b1"
                        },
                        "type": "Compose",
                        "inputs": {
                          "type": "AdaptiveCard",
                          "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                          "version": "1.3",
                          "originator": "@{variables('Originator')}",
                          "body": [
                            {
                              "type": "TextBlock",
                              "text": "@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']}",
                              "wrap": true,
                              "weight": "Bolder",
                              "size": "Medium"
                            },
                            {
                              "type": "TextBlock",
                              "text": "@{outputs('GetResponseDetails')?['body/r7425856917f245efbd0c4cb2a7f0c434']}",
                              "wrap": true
                            },
                            {
                              "type": "TextBlock",
                              "text": "@{outputs('GetResponseDetails')?['body/r60d760e8828645cc84d8fde2a6fe3b27']}",
                              "wrap": true
                            },
                            {
                              "type": "FactSet",
                              "facts": [
                                {
                                  "title": "Submitted By",
                                  "value": "@{outputs('GetResponseDetails')?['body/r7844031f633e4dd49368b0c116ad148d']} (@{outputs('GetResponseDetails')?['body/r6c3b387342aa4bd0b5f423aa43662850']}, @{outputs('GetResponseDetails')?['body/responder']})"
                                },
                                {
                                  "title": "Proposed Title",
                                  "value": "@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']}"
                                },
                                {
                                  "title": "Type of Proposal",
                                  "value": "@{outputs('GetResponseDetails')?['body/rc797ecd1491b44a0ac091174abbac9f6']}"
                                },
                                {
                                  "title": "Field of Research",
                                  "value": "@{outputs('GetResponseDetails')?['body/r975d59f3f5114998b6e30c56c035334b']}"
                                },
                                {
                                  "title": "Proposal Language",
                                  "value": "@{outputs('GetResponseDetails')?['body/r8b7f3f4a7502459598d155e9b31eb25e']}"
                                },
                                {
                                  "title": "Planned Start Date",
                                  "value": "@{outputs('GetResponseDetails')?['body/r837fec8c113c4851a217e947217c5b7f']}"
                                },
                                {
                                  "title": "Additional Comment",
                                  "value": "@{outputs('GetResponseDetails')?['body/r036f3f6320bc47e5b8c3694816ffe095']}"
                                }
                              ],
                              "separator": true
                            }
                          ],
                          "actions": [
                            {
                              "type": "Action.ShowCard",
                              "title": "Accept",
                              "card": {
                                "type": "AdaptiveCard",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "Once you accept this proposal, the student will be asked to verify the matching. The proposal will be removed from the proposal market and assigned to you for supervision.",
                                    "wrap": true
                                  },
                                  {
                                    "type": "Input.Text",
                                    "placeholder": "Your message will be sent to the student alongside your acceptance notification.",
                                    "id": "acceptComment",
                                    "isRequired": true,
                                    "errorMessage": "Field required",
                                    "label": "Comment"
                                  }
                                ],
                                "actions": [
                                  {
                                    "type": "Action.Http",
                                    "title": "Submit",
                                    "method": "POST",
                                    "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                    "body": "{\"actionType\": \"ACCEPT\", \"comment\": \"{{acceptComment.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisors')}\"}",
                                    "headers": [
                                      {
                                        "name": "Authorization",
                                        "value": ""
                                      },
                                      {
                                        "name": "Content-type",
                                        "value": "application/json"
                                      },
                                      {
                                        "name": "secretkey",
                                        "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "type": "Action.ShowCard",
                              "title": "Accept (Tentative)",
                              "card": {
                                "type": "AdaptiveCard",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "When you accept the proposal tentatively, the student will receive your feedback and is required to improve the proposal before you finally accept the proposal for supervision.",
                                    "wrap": true
                                  },
                                  {
                                    "type": "Input.Text",
                                    "placeholder": "Your message will be sent to the student alongside your notification of interest.",
                                    "id": "tentativeComment",
                                    "label": "Comment",
                                    "isMultiline": true,
                                    "isRequired": true,
                                    "errorMessage": "Field required"
                                  }
                                ],
                                "actions": [
                                  {
                                    "type": "Action.Http",
                                    "title": "Submit",
                                    "method": "POST",
                                    "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                    "body": "{\"actionType\": \"ACCEPT_TENTATIVE\", \"comment\": \"{{tentativeComment.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisors')}\"}",
                                    "headers": [
                                      {
                                        "name": "Authorization",
                                        "value": ""
                                      },
                                      {
                                        "name": "Content-type",
                                        "value": "application/json"
                                      },
                                      {
                                        "name": "secretkey",
                                        "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "type": "Action.ShowCard",
                              "title": "Reject",
                              "card": {
                                "type": "AdaptiveCard",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "Rejecting this proposal because of lacking content quality or format requirements will cause review by the thesis coordinator. The student will need to improve and resubmit the proposal.",
                                    "wrap": true
                                  },
                                  {
                                    "type": "Input.ChoiceSet",
                                    "choices": [
                                      {
                                        "title": "Proposal too broad",
                                        "value": "TOO_BROAD"
                                      },
                                      {
                                        "title": "Proposal not sufficiently scientific",
                                        "value": "NOT_SCIENTIFIC"
                                      },
                                      {
                                        "title": "Proposal or scope not clear",
                                        "value": "NOT_CLEAR"
                                      },
                                      {
                                        "title": "Format unsuitable",
                                        "value": "FORMAT_UNSUITABLE"
                                      },
                                      {
                                        "title": "Mismatch in topic area",
                                        "value": "TOPIC_AREA_INVALID"
                                      }
                                    ],
                                    "placeholder": "Why should this proposal be rejected?",
                                    "isRequired": true,
                                    "id": "rejectReason",
                                    "errorMessage": "Field required",
                                    "label": "Reason"
                                  },
                                  {
                                    "type": "Input.Text",
                                    "placeholder": "Why do you recommend this proposal for rejection? Your comment will not be shown to the student.",
                                    "id": "rejectComment",
                                    "isRequired": true,
                                    "errorMessage": "Field required",
                                    "label": "Comment",
                                    "isMultiline": true
                                  }
                                ],
                                "actions": [
                                  {
                                    "type": "Action.Http",
                                    "title": "Submit",
                                    "method": "POST",
                                    "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                    "body": "{\"actionType\": \"REJECT\", \"comment\": \"{{rejectComment.value}}\", \n\"reason\": \"{{rejectReason.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisors')}\"}",
                                    "headers": [
                                      {
                                        "name": "Authorization",
                                        "value": ""
                                      },
                                      {
                                        "name": "Content-type",
                                        "value": "application/json"
                                      },
                                      {
                                        "name": "secretkey",
                                        "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "type": "Action.ShowCard",
                              "title": "Decline",
                              "card": {
                                "type": "AdaptiveCard",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "Declining this proposal because of a mismatch of interests or a high workload on your side will keep it available for other supervisors.",
                                    "wrap": true
                                  },
                                  {
                                    "type": "Input.ChoiceSet",
                                    "choices": [
                                      {
                                        "title": "Lack of interest in specific topic",
                                        "value": "LACKING_INTEREST"
                                      },
                                      {
                                        "title": "Personal workload too high",
                                        "value": "PERSONAL_WORKLOAD"
                                      },
                                      {
                                        "title": "Mismatch in language",
                                        "value": "LANGUAGE"
                                      }
                                    ],
                                    "placeholder": "Why do you want to decline this proposal?",
                                    "id": "declineReason",
                                    "label": "Reason",
                                    "isRequired": true,
                                    "errorMessage": "Field required"
                                  },
                                  {
                                    "type": "Input.Text",
                                    "placeholder": "Why do you decline this proposal specifically? Your comment will not be shown to the student.",
                                    "id": "declineComment",
                                    "label": "Comment",
                                    "isMultiline": true,
                                    "isRequired": true,
                                    "errorMessage": "Field required"
                                  }
                                ],
                                "actions": [
                                  {
                                    "type": "Action.Http",
                                    "title": "Submit",
                                    "method": "POST",
                                    "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                                    "body": "{\"actionType\": \"DECLINE\", \"comment\": \"{{declineComment.value}}\", \n\"reason\": \"{{declineReason.value}}\", \"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisors')}\"}",
                                    "headers": [
                                      {
                                        "name": "Authorization",
                                        "value": ""
                                      },
                                      {
                                        "name": "Content-type",
                                        "value": "application/json"
                                      },
                                      {
                                        "name": "secretkey",
                                        "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ],
                          "autoInvokeAction": {
                            "type": "Action.Http",
                            "method": "POST",
                            "url": "@{parameters('Http Trigger Thesis Proposal Feedback (uzhbf_thesisplatform_http_trigger_thesis_proposal_feedback_env_var)')}",
                            "body": "{\"actionType\": \"REFETCH\",\"proposalId\": \"@{variables('ProposalId')}\",\"supervisorEmail\": \"@{items('EmailToSupervisors')}\"}",
                            "headers": [
                              {
                                "name": "Authorization",
                                "value": ""
                              },
                              {
                                "name": "Content-type",
                                "value": "application/json"
                              },
                              {
                                "name": "secretkey",
                                "value": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}"
                              }
                            ]
                          }
                        }
                      },
                      "EmailContents": {
                        "runAfter": {
                          "AdaptiveCard": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "4a75e677-4358-4992-a664-ffe5b41e0922"
                        },
                        "type": "Compose",
                        "inputs": "<script type=\"application/adaptivecard+json\">\n@{outputs('AdaptiveCard')}\n</script>"
                      },
                      "SupervisorInformationEmail": {
                        "runAfter": {
                          "EmailContents": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "ca5e164f-cb5e-4a62-9467-189c5311ca33"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                            "emailMessage/To": "@items('EmailToSupervisors')",
                            "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - New Proposal for Review (@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']})",
                            "emailMessage/Body": "@outputs('EmailContents')",
                            "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                            "emailMessage/Attachments": [
                              {
                                "Name": "@variables('PersonalCVPDFName')",
                                "ContentBytes": "@body('GetCVFileContentUsingPath')"
                              },
                              {
                                "Name": "@variables('TranscriptPDFName')",
                                "ContentBytes": "@body('GetTranscriptFileContentUsingPath_')"
                              },
                              {
                                "Name": "@variables('ProposalPDFName')",
                                "ContentBytes": "@body('GetProposalFileContentUsingPath')"
                              }
                            ],
                            "emailMessage/ReplyTo": "@outputs('GetResponseDetails')?['body/responder']",
                            "emailMessage/Importance": "High"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "operationId": "SharedMailboxSendEmailV2",
                            "connectionName": "shared_office365_1"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "59fc0f49-7782-4696-b7cb-f1b30f3402ea"
                    },
                    "type": "Foreach"
                  },
                  "StudentConfirmationEmail": {
                    "runAfter": {
                      "EmailToSupervisors": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "956b2cfb-109b-4b96-b61d-4431cd5de8f4"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                        "emailMessage/To": "@outputs('GetResponseDetails')?['body/responder']",
                        "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Your Proposal has been received (@{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']})",
                        "emailMessage/Body": "<p>Dear @{outputs('GetResponseDetails')?['body/r7844031f633e4dd49368b0c116ad148d']},<br>\n<br>\nWe have received your thesis proposal with the information as provided below. Please keep in mind that the thesis matching process usually takes about one month, but might take less or more depending on the workload of our supervisors. You will hear from us as soon as the proposal has been matched to a supervisor or if any further action from your side should be required.<br>\n<br>\nIf you have any <strong>urgent</strong> questions, please contact our @{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator by replying to this email.<br>\n<br>\nBest regards,<br>\n@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator<br>\n<br>\n---<br>\n<br>\n<strong>Submitted By:</strong> @{outputs('GetResponseDetails')?['body/submitDate']} (@{outputs('GetResponseDetails')?['body/responder']})<br>\n<br>\n<strong>Proposed</strong> <strong>Title:</strong> @{outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']}<br>\n<strong>Thesis Language:</strong> @{outputs('GetResponseDetails')?['body/r8b7f3f4a7502459598d155e9b31eb25e']}<br>\n<strong>Field of Research:</strong> @{outputs('GetResponseDetails')?['body/r975d59f3f5114998b6e30c56c035334b']}<br>\n<strong>Planned Start Date:</strong> @{outputs('GetResponseDetails')?['body/r837fec8c113c4851a217e947217c5b7f']}<br>\n<br>\n<strong>Summary:</strong> @{outputs('GetResponseDetails')?['body/r7425856917f245efbd0c4cb2a7f0c434']}<br>\n<strong>Motivation:</strong> @{outputs('GetResponseDetails')?['body/r60d760e8828645cc84d8fde2a6fe3b27']}</p>",
                        "emailMessage/Attachments": [
                          {
                            "Name": "@variables('PersonalCVPDFName')",
                            "ContentBytes": "@body('GetCVFileContentUsingPath')"
                          },
                          {
                            "Name": "@variables('TranscriptPDFName')",
                            "ContentBytes": "@body('GetTranscriptFileContentUsingPath_')"
                          },
                          {
                            "Name": "@variables('ProposalPDFName')",
                            "ContentBytes": "@body('GetProposalFileContentUsingPath')"
                          }
                        ],
                        "emailMessage/ReplyTo": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                        "emailMessage/Importance": "High"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "operationId": "SharedMailboxSendEmailV2",
                        "connectionName": "shared_office365_1"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@body('GetResponseDetails')?['r03afe1c9ab4547a18b4bdbff6418b128']",
                        ""
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "414efc57-a3c0-4b35-b64f-93c879d79ac7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "InitializeLinksToAttachmentsAsList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a5c29fcb-cfb0-47b5-98db-caba000d824f"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "FilterForFailedOrTimedOutStatus": {
              "metadata": {
                "operationMetadataId": "ca1bedd8-7555-4a99-a290-1c22c2e6e229"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "CreateHtmlTable": {
              "runAfter": {
                "FilterForFailedOrTimedOutStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "34b6a96f-64c6-43fd-89a3-fe7d5ef245ff"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('FilterForFailedOrTimedOutStatus')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "ProposalId",
                    "value": "@triggerBody()?['proposalId']"
                  },
                  {
                    "header": "ProposalTitle",
                    "value": "@outputs('GetResponseDetails')?['body/r7240915136fb41e8b884a045d08f39ce']"
                  },
                  {
                    "header": "SubmittedBy",
                    "value": "@outputs('GetResponseDetails')?['body/responder']"
                  },
                  {
                    "header": "ErrorCode",
                    "value": "@item()?['code']"
                  }
                ]
              }
            },
            "Terminate": {
              "runAfter": {
                "SendFailureNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f41eff7-41db-4eae-8e12-46f64d545e8b"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            },
            "SendFailureNotification": {
              "runAfter": {
                "CreateHtmlTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7c370de-36de-45b2-ae99-b7d0e7013242"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/to": "@{parameters('Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)')};",
                  "request/subject": "(@{parameters('Environment (uzhbf_thesisplatform_environment_env_var)')}) Failure in UZH BF Thesis Platform - Thesis Proposal Submission",
                  "request/text": "<p>@{body('CreateHtmlTable')}</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
                  "operationId": "SendEmailV3",
                  "connectionName": "shared_sendmail-2"
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "054f28a3-080c-4f8a-9529-1183121f12f9"
          },
          "type": "Scope"
        },
        "InitializeLinksToAttachments": {
          "runAfter": {
            "InitializeTranscriptPdfName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11aa68ed-fbd5-48a8-b078-5683c4037ea9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "links",
                "type": "array"
              }
            ]
          }
        },
        "InitializeLinksToAttachmentsAsList": {
          "runAfter": {
            "InitializeLinksToAttachments": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad967f30-6249-479c-84d4-670e62425731"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "linksAsList",
                "type": "string",
                "value": "<ul>"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}