solutions/UZHBFThesisPlatform/Workflows/UZHBFThesisPlatform-ThesisApplicationAcceptance-7C987104-6984-EE11-8179-002248DB4B50.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_outlook365_ref"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_sendmail-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_mail_ref"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Environment (uzhbf_thesisplatform_environment_env_var)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_environment_env_var"
          }
        },
        "Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)": {
          "defaultValue": "flow@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_email_failure_env_var"
          }
        },
        "Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_outlook_from_address_env_var"
          }
        },
        "Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_thesis_inbox_env_var"
          }
        },
        "Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)": {
          "defaultValue": "abcd",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_flow_secret_env_var"
          }
        },
        "Department (uzhbf_thesisplatform_department_env_var)": {
          "defaultValue": "DF",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_department_env_var"
          }
        },
        "Root URL (uzhbf_thesisplatform_root_url_env_var)": {
          "defaultValue": "https://mentally-ace-maggot.ngrok-free.app",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_root_url_env_var"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "1c77e3d6-3094-4200-b0d9-961cba7869ca"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "proposalId": {
                  "type": "string"
                },
                "proposalApplicationId": {
                  "type": "string"
                },
                "applicantEmail": {
                  "type": "string"
                }
              }
            },
            "triggerAuthenticationType": "All"
          },
          "conditions": []
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "AcceptApplicantNotification": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c770ade3-7921-45b3-802e-c0c6af531b87"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@triggerBody()?['applicantEmail']",
                  "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Proposal Application Accepted",
                  "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{body('Parse_processProposalAcceptance')?['accepted_user']?['accepted_fullName']},<br><br>Your application to the proposal \"@{body('Parse_processProposalAcceptance')?['proposal']?['proposal_title']}\", was accepted by @{body('Parse_processProposalAcceptance')?['proposal']?['supervisor_email']}.<br>Kindly get in touch with your supervisor by replying to this email within one week.<br><br>Best regards,<br>@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator</p>",
                  "emailMessage/From": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                  "emailMessage/Cc": "@{parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')};@{body('Parse_processProposalAcceptance')?['proposal']?['supervisor_email']}",
                  "emailMessage/ReplyTo": "@body('Parse_processProposalAcceptance')?['proposal']?['supervisor_email']",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Response": {
              "runAfter": {
                "AcceptApplicantNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "683d1d81-839c-4789-b0f5-5246ea53241d"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "message": "success"
                }
              }
            },
            "processProposalAcceptance": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9d0364dc-75ad-46c9-b521-d7a9b637ee81"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/processProposalAcceptance",
                "body": {
                  "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                  "proposalId": "@triggerBody()?['proposalId']",
                  "proposalApplicationId": "@triggerBody()?['proposalApplicationId']",
                  "applicantEmail": "@triggerBody()?['applicantEmail']"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_processProposalAcceptance": {
              "runAfter": {
                "processProposalAcceptance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a0f0dc40-c7d3-4d25-b96d-d7330d72718d"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('processProposalAcceptance')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "proposal": {
                      "type": "object",
                      "properties": {
                        "proposal_title": {
                          "type": "string"
                        },
                        "supervisor_email": {
                          "type": "string"
                        }
                      }
                    },
                    "accepted_user": {
                      "type": "object",
                      "properties": {
                        "accepted_email": {
                          "type": "string"
                        },
                        "accepted_fullName": {
                          "type": "string"
                        }
                      }
                    },
                    "declined_users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "declined_email": {
                            "type": "string"
                          },
                          "declined_fullName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "declined_email",
                          "declined_fullName"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "For_each": {
              "foreach": "@body('Parse_processProposalAcceptance')?['declined_users']",
              "actions": {
                "DeclineApplicantNotification": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "33021eda-e781-4cdf-838e-7280251ec03f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@item()?['declined_email']",
                      "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Proposal Application Declined",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{item()?['declined_fullName']},<br><br>We are sorry to inform you, that your application on the proposal \"@{body('Parse_processProposalAcceptance')?['proposal']?['proposal_title']}\" was declined.<br><br>Best regards,<br>@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator</p>",
                      "emailMessage/From": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Parse_processProposalAcceptance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "84a3ac42-6918-447e-a61c-09ce909afee4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "IsFLowSecretCorrect": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e7d8a472-e6f6-4fed-9b99-4c9f7109fc71"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "FilterForFailedOrTimedOutStatus": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ca1bedd8-7555-4a99-a290-1c22c2e6e229"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "CreateHtmlTable": {
              "runAfter": {
                "FilterForFailedOrTimedOutStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "34b6a96f-64c6-43fd-89a3-fe7d5ef245ff"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('FilterForFailedOrTimedOutStatus')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "ProposalId",
                    "value": "@triggerBody()?['proposalId']"
                  },
                  {
                    "header": "proposalApplicationId",
                    "value": "@triggerBody()?['proposalApplicationId']"
                  },
                  {
                    "header": "applicantEmail",
                    "value": "@triggerBody()?['applicantEmail']"
                  },
                  {
                    "header": "ErrorCode",
                    "value": "@item()?['code']"
                  }
                ]
              }
            },
            "Terminate": {
              "runAfter": {
                "SendFailureNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f41eff7-41db-4eae-8e12-46f64d545e8b"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            },
            "SendFailureNotification": {
              "runAfter": {
                "CreateHtmlTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7c370de-36de-45b2-ae99-b7d0e7013242"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sendmail-2",
                  "operationId": "SendEmailV3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                },
                "parameters": {
                  "request/to": "@{parameters('Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)')};",
                  "request/subject": "(@{parameters('Environment (uzhbf_thesisplatform_environment_env_var)')}) Failure in UZH BF Thesis Platform - Thesis Application Acceptance",
                  "request/text": "<p>@{body('CreateHtmlTable')}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "054f28a3-080c-4f8a-9529-1183121f12f9"
          },
          "type": "Scope"
        },
        "IsFLowSecretCorrect": {
          "actions": {},
          "runAfter": {},
          "else": {
            "actions": {
              "Terminate_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b0e5bdca-638d-4f99-bf6a-88e22b939ecb"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()['headers']['secretKey']",
              "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e8497de-b65d-41bd-bc3e-8d913d2aba3c"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}