solutions/UZHBFThesisPlatform/Workflows/UZHBFThesisPlatform-ThesisProposalFeedback-4BF9872E-202A-EE11-BDF5-000D3A831DD0.json
{
  "properties": {
    "connectionReferences": {
      "shared_azuremysql": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sql_ref"
        },
        "api": {
          "name": "shared_azuremysql"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sharePoint_ref"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_outlook365_ref"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)": {
          "defaultValue": "https://uzh.sharepoint.com/sites/UZHBFThesisPlatformDEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_sharepoint_site_env_var"
          }
        },
        "Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)": {
          "defaultValue": "maximilian.weber@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_outlook_from_address_env_var"
          }
        },
        "Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)": {
          "defaultValue": "maximilian.weber@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_thesis_inbox_env_var"
          }
        },
        "Supervisors List Name (uzhbf_thesisplatform_supervisors_list_name_env_var)": {
          "defaultValue": "Thesis Supervisors",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_supervisors_list_name_env_var"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2b6f39ba-1e41-4c77-a663-f7004d0a07bc"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "properties": {
                "comment": {
                  "type": "string"
                },
                "created_at": {
                  "type": "integer"
                },
                "form_hash_id": {
                  "type": "string"
                },
                "form_id": {
                  "type": "integer"
                },
                "handshake_key": {
                  "type": "string"
                },
                "proposalId": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "submission_hash_id": {
                  "type": "string"
                },
                "submission_id": {
                  "type": "integer"
                },
                "supervisorEmail": {
                  "type": "string"
                },
                "actionType": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "integer"
                }
              },
              "type": "object"
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "GetMatchingProposal": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "979db1ef-80b7-44c7-9a52-47de305a3e9f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_azuremysql",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
            },
            "parameters": {
              "server": "default",
              "database": "default",
              "table": "[main].[proposal]",
              "$filter": "id eq '@{triggerBody()?['proposalId']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "ProposalDetails": {
          "runAfter": {
            "GetMatchingProposal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07c8716c-ce34-4692-a313-e524ee356789"
          },
          "type": "Compose",
          "inputs": "@first(body('GetMatchingProposal')['value'])"
        },
        "GetProposalApplication": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "baa5f673-ab9b-4eda-abc3-3da844e3921c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_azuremysql",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
            },
            "parameters": {
              "server": "default",
              "database": "default",
              "table": "[main].[proposalapplication]",
              "$filter": "id eq '@{triggerBody()?['proposalid']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "ApplicationDetails": {
          "runAfter": {
            "GetProposalApplication": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "725427ad-a396-4f7f-94fe-18202dcffc15"
          },
          "type": "Compose",
          "inputs": "@first(body('GetProposalApplication')['value'])"
        },
        "MatchingSupervisor": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bd22650b-e96a-448f-9483-fb98a6b2a917"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
              "table": "@parameters('Supervisors List Name (uzhbf_thesisplatform_supervisors_list_name_env_var)')",
              "$filter": "Title eq '@{triggerBody()?['supervisoremail']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "SupervisorDetails": {
          "runAfter": {
            "MatchingSupervisor": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4fed7a55-4515-4bf4-95fa-a1e295c50e03"
          },
          "type": "Compose",
          "inputs": "@first(body('MatchingSupervisor')['value'])"
        },
        "Switch": {
          "runAfter": {
            "IsAutoInvokedAction": [
              "Succeeded"
            ]
          },
          "cases": {
            "Accept": {
              "case": "ACCEPT",
              "actions": {
                "UpdateProposalStatusAccept": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7535e2a2-c386-4e8f-abaf-6af7cf4c0159"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PatchItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[proposal]",
                      "id": "@triggerBody()?['proposalid']",
                      "item/createdAt": "@outputs('ProposalDetails')['createdAt']",
                      "item/description": "@outputs('ProposalDetails')['description']",
                      "item/language": "@outputs('ProposalDetails')['language']",
                      "item/statusKey": "MATCHED",
                      "item/studyLevel": "@outputs('ProposalDetails')['studyLevel']",
                      "item/title": "@outputs('ProposalDetails')['title']",
                      "item/topicAreaSlug": "@outputs('ProposalDetails')['topicAreaSlug']",
                      "item/typeKey": "@outputs('ProposalDetails')['typeKey']",
                      "item/updatedAt": "@outputs('ProposalDetails')['updatedAt']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "UpdateStudentApplicationAccept": {
                  "runAfter": {
                    "IsStatusKeyOpen": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7a443136-70e4-4642-a1eb-b0beee17972b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PatchItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[proposalapplication]",
                      "id": "@triggerBody()?['proposalId']",
                      "item/createdAt": "@outputs('ApplicationDetails')['createdAt']",
                      "item/email": "@outputs('ApplicationDetails')['email']",
                      "item/fullName": "@outputs('ApplicationDetails')['fullName']",
                      "item/matriculationNumber": "@outputs('ApplicationDetails')['matriculationNumber']",
                      "item/motivation": "@outputs('ApplicationDetails')['motivation']",
                      "item/plannedStartAt": "@outputs('ApplicationDetails')['plannedStartAt']",
                      "item/proposalId": "@outputs('ApplicationDetails')['proposalId']",
                      "item/statusKey": "ACCEPTED",
                      "item/updatedAt": "@outputs('ApplicationDetails')['updatedAt']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "AcceptanceNotification": {
                  "runAfter": {
                    "UpdateStudentApplicationAccept": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "df532c74-17e4-4547-ab22-d8685e1eb082"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SharedMailboxSendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/To": "@{outputs('ApplicationDetails')['email']};@{triggerBody()?['supervisorEmail']}",
                      "emailMessage/Subject": "DBF Theses - Your Proposal has been accepted",
                      "emailMessage/Body": "<p>Dear @{outputs('ApplicationDetails')['fullName']},<br>\n<br>\nYour proposal on \"@{outputs('ProposalDetails')['title']}\" has been accepted by a supervisor. Please get in touch with your supervisor \"@{outputs('SupervisorDetails')['field_1']}\" to get started with the thesis process (just reply to this email).<br>\n<br>\nBest regards,<br>\nDBF Thesis Coordinator<br>\n<br>\n---<br>\n<br>\nMessage of your supervisor: @{triggerBody()?['comment']}</p>",
                      "emailMessage/Cc": "@outputs('CreateAcceptSupervision')?['body/supervisorEmail']",
                      "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                      "emailMessage/ReplyTo": "@triggerBody()?['supervisorEmail']",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "ComposeAcceptResponse": {
                  "runAfter": {
                    "AcceptanceNotification": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2cdc3e44-0062-4866-a6f9-eca6b8231044"
                  },
                  "type": "Compose",
                  "inputs": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "body": [
                      {
                        "size": "Medium",
                        "text": "Thesis Proposal Accepted",
                        "type": "TextBlock",
                        "weight": "Bolder"
                      }
                    ],
                    "type": "AdaptiveCard",
                    "version": "1.0"
                  }
                },
                "AcceptResponse": {
                  "runAfter": {
                    "ComposeAcceptResponse": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b28276f8-db87-4742-afc2-bf8251d4cb6b"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "CARD-UPDATE-IN-BODY": "true"
                    },
                    "body": "@outputs('ComposeAcceptResponse')"
                  }
                },
                "IsStatusKeyOpen": {
                  "actions": {
                    "CreateAcceptSupervision": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b2bca9b1-69a4-4e1d-8b9f-46ffa7645a5b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_azuremysql",
                          "operationId": "PostItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                        },
                        "parameters": {
                          "server": "default",
                          "database": "default",
                          "table": "[main].[userproposalsupervision]",
                          "item/id": "@triggerBody()?['proposalId']",
                          "item/proposalId": "@triggerBody()?['proposalId']",
                          "item/supervisorEmail": "@triggerBody()?['supervisorEmail']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "UpdateProposalStatusAccept": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@outputs('ApplicationDetails')['statusKey']",
                      "OPEN"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d2bc87da-0e52-4a9e-9bb2-54e6fedabe6b"
                  },
                  "type": "If"
                }
              }
            },
            "Accept_Tentative": {
              "case": "ACCEPT_TENTATIVE",
              "actions": {
                "UpdateProposalStatusAcceptTentative": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4331e6c0-ad64-47f4-b1a2-702a4c6ac25f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PatchItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[proposal]",
                      "id": "@triggerBody()?['proposalId']",
                      "item/createdAt": "@outputs('ProposalDetails')['createdAt']",
                      "item/description": "@outputs('ProposalDetails')['description']",
                      "item/language": "@outputs('ProposalDetails')['language']",
                      "item/statusKey": "MATCHED_TENTATIVE",
                      "item/studyLevel": "@outputs('ProposalDetails')['studyLevel']",
                      "item/title": "@outputs('ProposalDetails')['title']",
                      "item/topicAreaSlug": "@outputs('ProposalDetails')['topicAreaSlug']",
                      "item/typeKey": "@outputs('ProposalDetails')['typeKey']",
                      "item/updatedAt": "@outputs('ProposalDetails')['updatedAt']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "CreateTentativeAcceptSupervision": {
                  "runAfter": {
                    "UpdateProposalStatusAcceptTentative": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "add79b87-4eeb-4e50-b802-6aadde3db15c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PostItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[userproposalsupervision]",
                      "item/id": "@triggerBody()?['proposalId']",
                      "item/proposalId": "@triggerBody()?['proposalId']",
                      "item/supervisorEmail": "@triggerBody()?['supervisorEmail']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "UpdateStudentApplicationAcceptTentative": {
                  "runAfter": {
                    "CreateTentativeAcceptSupervision": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "72b788ae-9d04-4c4c-886e-2f8f5be3bc33"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PatchItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[proposalapplication]",
                      "id": "@triggerBody()?['proposalId']",
                      "item/createdAt": "@outputs('ApplicationDetails')['createdAt']",
                      "item/email": "@outputs('ApplicationDetails')['email']",
                      "item/fullName": "@outputs('ApplicationDetails')['fullName']",
                      "item/matriculationNumber": "@outputs('ApplicationDetails')['matriculationNumber']",
                      "item/motivation": "@outputs('ApplicationDetails')['motivation']",
                      "item/plannedStartAt": "@outputs('ApplicationDetails')['plannedStartAt']",
                      "item/proposalId": "@outputs('ApplicationDetails')['proposalId']",
                      "item/statusKey": "ACCEPTED_TENTATIVE",
                      "item/updatedAt": "@outputs('ApplicationDetails')['updatedAt']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "TentativeAcceptanceNotification": {
                  "runAfter": {
                    "UpdateStudentApplicationAcceptTentative": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fb0316ef-5a1a-4a75-b425-a805eba40653"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SharedMailboxSendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/To": "@{outputs('ApplicationDetails')['email']};@{triggerBody()?['supervisorEmail']}",
                      "emailMessage/Subject": "DBF Theses - Your Proposal has attracted interest",
                      "emailMessage/Body": "<p>Dear @{outputs('ApplicationDetails')['fullName']},<br>\n<br>\nYour proposal on \"@{outputs('ProposalDetails')['title']}\" has attracted the interest of a supervisor on the condition that the proposal is improved in certain areas. Please review the supervisor feedback, adjust your proposal as needed, and get in touch with your potential supervisor \"@{outputs('SupervisorDetails')['field_1']}\" (just reply to this email).<br>\n<br>\nBest regards,<br>\nDBF Thesis Coordinator<br>\n<br>\n---<br>\n<br>\nFeedback of your potential supervisor: @{triggerBody()?['comment']}</p>",
                      "emailMessage/Cc": "@triggerBody()?['supervisorEmail']",
                      "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                      "emailMessage/ReplyTo": "@triggerBody()?['supervisorEmail']",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "ComposeAcceptTentativeResponse": {
                  "runAfter": {
                    "TentativeAcceptanceNotification": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3b8a8234-2ea8-4734-bc8c-7d2a2086e40b"
                  },
                  "type": "Compose",
                  "inputs": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "body": [
                      {
                        "size": "Medium",
                        "text": "Thesis Proposal Tentatively Accepted",
                        "type": "TextBlock",
                        "weight": "Bolder"
                      }
                    ],
                    "type": "AdaptiveCard",
                    "version": "1.0"
                  }
                },
                "AcceptTentativeResponse": {
                  "runAfter": {
                    "ComposeAcceptTentativeResponse": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4ed555d0-c4a0-49b2-90f4-cd829feeb041"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "CARD-UPDATE-IN-BODY": "true"
                    },
                    "body": "@outputs('ComposeAcceptTentativeResponse')"
                  }
                }
              }
            },
            "Decline": {
              "case": "DECLINE",
              "actions": {
                "PersistDeclineFeedback": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5bc2b7d0-6c92-43d5-bc81-0473ac0f025e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PostItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[userproposalfeedback]",
                      "item/comment": "@triggerBody()?['comment']",
                      "item/id": "@guid()",
                      "item/proposalId": "@triggerBody()?['proposalId']",
                      "item/reason": "@triggerBody()?['reason']",
                      "item/typeKey": "DECLINED_@{triggerBody()?['reason']}",
                      "item/userEmail": "@triggerBody()?['supervisorEmail']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "DeclineNotification": {
                  "runAfter": {
                    "PersistDeclineFeedback": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c71259f9-094e-4c1d-86ec-684e6f6380cd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SharedMailboxSendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/To": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                      "emailMessage/Subject": "DBF Theses - Proposal declined (@{outputs('ProposalDetails')['title']})",
                      "emailMessage/Body": "<p>The proposal \"@{outputs('ProposalDetails')['title']}\" has been declined by \"@{outputs('SupervisorDetails')['field_1']}\".<br>\n<br>\n<strong>Reason: </strong>@{triggerBody()?['reason']}<br>\n<strong>Comment:</strong> @{triggerBody()?['comment']}</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "ComposeDeclineResponse": {
                  "runAfter": {
                    "DeclineNotification": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "381fa989-f265-46ee-bbd4-b5fe2c8bca59"
                  },
                  "type": "Compose",
                  "inputs": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "body": [
                      {
                        "size": "Medium",
                        "text": "Thesis Proposal Declined",
                        "type": "TextBlock",
                        "weight": "Bolder"
                      }
                    ],
                    "type": "AdaptiveCard",
                    "version": "1.0"
                  }
                },
                "DeclineResponse": {
                  "runAfter": {
                    "ComposeDeclineResponse": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "35a799df-bc89-4032-829d-6f943524cff6"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "CARD-UPDATE-IN-BODY": "true"
                    },
                    "body": "@outputs('ComposeDeclineResponse')"
                  }
                }
              }
            },
            "Reject": {
              "case": "REJECT",
              "actions": {
                "RejectNotification": {
                  "runAfter": {
                    "PersistRejectFeedback": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "647c1798-dde8-4ed4-a921-6572d4b5cd77"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SharedMailboxSendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                      "emailMessage/To": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                      "emailMessage/Subject": "DBF Theses - Proposal rejected (@{outputs('ProposalDetails')['title']})",
                      "emailMessage/Body": "<p>The proposal \"@{outputs('ProposalDetails')['title']}\" has been rejected by \"@{outputs('SupervisorDetails')['field_1']}\".<br>\n<br>\nReason: @{triggerBody()?['reason']}<br>\nComment: @{triggerBody()?['comment']}</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "ComposeRejectResponse": {
                  "runAfter": {
                    "RejectNotification": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bc91fc1b-3a49-494d-adab-6585a07d0f0f"
                  },
                  "type": "Compose",
                  "inputs": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "body": [
                      {
                        "size": "Medium",
                        "text": "Thesis Proposal Rejected",
                        "type": "TextBlock",
                        "weight": "Bolder"
                      }
                    ],
                    "type": "AdaptiveCard",
                    "version": "1.0"
                  }
                },
                "RejectResponse": {
                  "runAfter": {
                    "ComposeRejectResponse": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "841ddf7a-a2fb-4073-868b-e31da5fe675e"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "CARD-UPDATE-IN-BODY": "true"
                    },
                    "body": "@outputs('ComposeRejectResponse')"
                  }
                },
                "IsStatusKeyAcceptedTentative": {
                  "actions": {
                    "DeleteSupervision": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "cdf7798e-3049-40c7-8cde-4ef065861c2e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_azuremysql",
                          "operationId": "DeleteItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                        },
                        "parameters": {
                          "server": "default",
                          "database": "default",
                          "table": "[main].[userproposalsupervision]",
                          "id": "@triggerBody()?['proposalId']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "UpdateProposalStatusKeyOpen": {
                      "runAfter": {
                        "UpdateProposalApplicationStatusKeyOpen": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "aa93c012-cb6d-42c6-bd72-ef1574acb2f6"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_azuremysql",
                          "operationId": "PatchItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                        },
                        "parameters": {
                          "server": "default",
                          "database": "default",
                          "table": "[main].[proposal]",
                          "id": "@triggerBody()?['proposalId']",
                          "item/createdAt": "@outputs('ProposalDetails')['createdAt']",
                          "item/description": "@outputs('ProposalDetails')['description']",
                          "item/language": "@outputs('ProposalDetails')['language']",
                          "item/statusKey": "OPEN",
                          "item/studyLevel": "@outputs('ProposalDetails')['studyLevel']",
                          "item/title": "@outputs('ProposalDetails')['title']",
                          "item/topicAreaSlug": "@outputs('ProposalDetails')['topicAreaSlug']",
                          "item/typeKey": "@outputs('ProposalDetails')['typeKey']",
                          "item/updatedAt": "@outputs('ProposalDetails')['updatedAt']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "UpdateProposalApplicationStatusKeyOpen": {
                      "runAfter": {
                        "DeleteSupervision": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "311d5cd3-d344-47a3-99b8-9b0664a34f4e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_azuremysql",
                          "operationId": "PatchItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                        },
                        "parameters": {
                          "server": "default",
                          "database": "default",
                          "table": "[main].[proposalapplication]",
                          "id": "@triggerBody()?['proposalId']",
                          "item/createdAt": "@outputs('ApplicationDetails')['createdAt']",
                          "item/email": "@outputs('ApplicationDetails')['email']",
                          "item/fullName": "@outputs('ApplicationDetails')['fullName']",
                          "item/matriculationNumber": "@outputs('ApplicationDetails')['matriculationNumber']",
                          "item/motivation": "@outputs('ApplicationDetails')['motivation']",
                          "item/plannedStartAt": "@outputs('ApplicationDetails')['plannedStartAt']",
                          "item/proposalId": "@triggerBody()?['proposalId']",
                          "item/statusKey": "OPEN",
                          "item/updatedAt": "@outputs('ApplicationDetails')['updatedAt']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "equals": [
                      "@outputs('ApplicationDetails')['statusKey']",
                      "ACCEPTED_TENTATIVE"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ffc51d56-fc50-474a-8db9-d35eedebc5fc"
                  },
                  "type": "If"
                },
                "PersistRejectFeedback": {
                  "runAfter": {
                    "IsStatusKeyAcceptedTentative": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f305428c-9d61-40a0-8cb6-b53c26852d0c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "PostItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[userproposalfeedback]",
                      "item/comment": "@triggerBody()?['comment']",
                      "item/id": "@guid()",
                      "item/proposalId": "@triggerBody()?['proposalId']",
                      "item/reason": "@triggerBody()?['reason']",
                      "item/typeKey": "REJECTED_@{triggerBody()?['reason']}",
                      "item/userEmail": "@triggerBody()?['supervisorEmail']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Response_4": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "00598947-556d-4afd-8e0c-11c0310f81cc"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            }
          },
          "expression": "@triggerBody()?['actionType']",
          "metadata": {
            "operationMetadataId": "5c463cf4-8eb0-443f-99c0-d7807cd879b1"
          },
          "type": "Switch"
        },
        "IsAutoInvokedAction": {
          "actions": {
            "IsAlreadyAccepted": {
              "actions": {
                "Response": {
                  "runAfter": {
                    "ComposeAlreadyAcceptedResponse": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "587d7896-600a-4582-88f4-f7adb0b524f3"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "CARD-UPDATE-IN-BODY": "true"
                    },
                    "body": "@outputs('ComposeAlreadyAcceptedResponse')"
                  }
                },
                "Terminate_2": {
                  "runAfter": {
                    "Response": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "30e0b4b9-13f6-451b-8582-402df8cbf50a"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                },
                "GetAcceptedSupervisor": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "19d31a2a-f034-4f8a-a629-02c16a319f8e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuremysql",
                      "operationId": "GetItems",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuremysql"
                    },
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[main].[userproposalsupervision]",
                      "$filter": "id eq '@{triggerBody()?['proposalid']}'",
                      "$top": 1
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "ComposeAlreadyAcceptedResponse": {
                  "runAfter": {
                    "AcceptedSupervisorDetails": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e2871993-5858-486e-b8e6-9a3e8a89ee6a"
                  },
                  "type": "Compose",
                  "inputs": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "body": [
                      {
                        "size": "Medium",
                        "text": "Thesis Proposal was already accepted by @{outputs('AcceptedSupervisorDetails')['supervisorEmail']} (@{outputs('ApplicationDetails')['statusKey']})",
                        "type": "TextBlock",
                        "weight": "Bolder"
                      }
                    ],
                    "type": "AdaptiveCard",
                    "version": "1.0"
                  }
                },
                "AcceptedSupervisorDetails": {
                  "runAfter": {
                    "GetAcceptedSupervisor": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "df3def8f-9776-4c1e-89cd-f538ca85a6ba"
                  },
                  "type": "Compose",
                  "inputs": "@first(body('GetAcceptedSupervisor')['value'])"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Terminate": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "5fb1e9d7-d829-4b1d-8daa-895dccb71412"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Succeeded"
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@outputs('ApplicationDetails')['statusKey']",
                      "ACCEPTED"
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('ApplicationDetails')['statusKey']",
                      "ACCEPTED_TENTATIVE"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "9bd9abc8-9ac9-4134-a2e3-72100f394b43"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "ApplicationDetails": [
              "Succeeded"
            ],
            "ProposalDetails": [
              "Succeeded"
            ],
            "SupervisorDetails": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerBody()?['actionType']",
              "REFETCH"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d582be1-075d-4223-8d22-7c7e4fb1dd8e"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}