solutions/UZHBFThesisPlatform/Workflows/UZHBFThesisPlatform-ThesisProposalFeedback-4BF9872E-202A-EE11-BDF5-000D3A831DD0.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365_1": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_outlook365_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_sharePoint_ref"
        },
        "runtimeSource": "embedded"
      },
      "shared_sendmail-2": {
        "api": {
          "name": "shared_sendmail"
        },
        "connection": {
          "connectionReferenceLogicalName": "uzhbf_thesisplatform_mail_ref"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)": {
          "defaultValue": "https://uzh.sharepoint.com/sites/UZHBFThesisPlatformDEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_sharepoint_site_env_var"
          }
        },
        "Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_outlook_from_address_env_var"
          }
        },
        "Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)": {
          "defaultValue": "ibf-srv-powplatf@d.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_thesis_inbox_env_var"
          }
        },
        "Supervisors List Name (uzhbf_thesisplatform_supervisors_list_name_env_var)": {
          "defaultValue": "Thesis Supervisors",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_supervisors_list_name_env_var"
          }
        },
        "Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)": {
          "defaultValue": "flow@bf.uzh.ch",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_email_failure_env_var"
          }
        },
        "Environment (uzhbf_thesisplatform_environment_env_var)": {
          "defaultValue": "DEV",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_environment_env_var"
          }
        },
        "Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)": {
          "defaultValue": "abcd",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_flow_secret_env_var"
          }
        },
        "Department (uzhbf_thesisplatform_department_env_var)": {
          "defaultValue": "DF",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_department_env_var"
          }
        },
        "Root URL (uzhbf_thesisplatform_root_url_env_var)": {
          "defaultValue": "https://mentally-ace-maggot.ngrok-free.app",
          "type": "String",
          "metadata": {
            "schemaName": "uzhbf_thesisplatform_root_url_env_var"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "properties": {
                "personResponsible": {
                  "type": "string"
                },
                "comment": {
                  "type": "string"
                },
                "created_at": {
                  "type": "integer"
                },
                "form_hash_id": {
                  "type": "string"
                },
                "form_id": {
                  "type": "integer"
                },
                "handshake_key": {
                  "type": "string"
                },
                "proposalId": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                },
                "submission_hash_id": {
                  "type": "string"
                },
                "submission_id": {
                  "type": "integer"
                },
                "supervisorEmail": {
                  "type": "string"
                },
                "actionType": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "conditions": [],
          "metadata": {
            "operationMetadataId": "2b6f39ba-1e41-4c77-a663-f7004d0a07bc"
          }
        }
      },
      "actions": {
        "Try": {
          "type": "Scope",
          "actions": {
            "IsAutoInvokedAction": {
              "type": "If",
              "expression": {
                "equals": [
                  "@triggerBody()?['actionType']",
                  "REFETCH"
                ]
              },
              "actions": {
                "IsAlreadyAccepted": {
                  "type": "If",
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['statusKey']",
                          "ACCEPTED"
                        ]
                      },
                      {
                        "equals": [
                          "@body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['statusKey']",
                          "ACCEPTED_TENTATIVE"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Response": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "headers": {
                          "CARD-UPDATE-IN-BODY": "true"
                        },
                        "body": "@outputs('ComposeAlreadyAcceptedResponse')"
                      },
                      "runAfter": {
                        "ComposeAlreadyAcceptedResponse": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "587d7896-600a-4582-88f4-f7adb0b524f3"
                      }
                    },
                    "Terminate_2": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Succeeded"
                      },
                      "runAfter": {
                        "Response": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "30e0b4b9-13f6-451b-8582-402df8cbf50a"
                      }
                    },
                    "ComposeAlreadyAcceptedResponse": {
                      "type": "Compose",
                      "inputs": {
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "body": [
                          {
                            "size": "Medium",
                            "text": "Thesis Proposal was already accepted by @{body('Parse_getAcceptedSupervisor')?['supervisor']?['email']} (@{body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['statusKey']})",
                            "type": "TextBlock",
                            "weight": "Bolder"
                          }
                        ],
                        "type": "AdaptiveCard",
                        "version": "1.0"
                      },
                      "runAfter": {
                        "Parse_getAcceptedSupervisor": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e2871993-5858-486e-b8e6-9a3e8a89ee6a"
                      }
                    },
                    "Parse_getAcceptedSupervisor": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('getAcceptedSupervisor')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "supervisor": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "getAcceptedSupervisor": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "86273126-42bc-4163-a045-3047e42ebc49"
                      }
                    },
                    "getAcceptedSupervisor": {
                      "type": "Http",
                      "inputs": {
                        "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/getAcceptedSupervisor",
                        "method": "POST",
                        "body": {
                          "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                          "proposalId": "@triggerBody()?['proposalId']"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "f3e553b7-8469-41e3-8444-22191fdf2621"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Terminate": {
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Succeeded"
                        },
                        "runAfter": {
                          "Scope": [
                            "Failed",
                            "TimedOut"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5fb1e9d7-d829-4b1d-8daa-895dccb71412"
                        }
                      },
                      "Scope": {
                        "type": "Scope",
                        "actions": {
                          "Condition": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@body('Parse_getProvidedFeedbackEntriesHTTP')?['userEmail']",
                                    "@triggerBody()?['supervisorEmail']"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "ComposeAlreadyProvidedFeedback": {
                                "type": "Compose",
                                "inputs": {
                                  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                  "body": [
                                    {
                                      "size": "Medium",
                                      "text": "You have already rejected/declined this proposal!",
                                      "type": "TextBlock",
                                      "weight": "Bolder"
                                    }
                                  ],
                                  "type": "AdaptiveCard",
                                  "version": "1.0"
                                },
                                "metadata": {
                                  "operationMetadataId": "e2871993-5858-486e-b8e6-9a3e8a89ee6a"
                                }
                              },
                              "ResponseFeedback": {
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                  "statusCode": 200,
                                  "headers": {
                                    "CARD-UPDATE-IN-BODY": "true"
                                  },
                                  "body": "@outputs('ComposeAlreadyProvidedFeedback')"
                                },
                                "runAfter": {
                                  "ComposeAlreadyProvidedFeedback": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "587d7896-600a-4582-88f4-f7adb0b524f3"
                                }
                              },
                              "Terminate_4": {
                                "type": "Terminate",
                                "inputs": {
                                  "runStatus": "Succeeded"
                                },
                                "runAfter": {
                                  "ResponseFeedback": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "5fb1e9d7-d829-4b1d-8daa-895dccb71412"
                                }
                              }
                            },
                            "else": {
                              "actions": {
                                "Terminate_5": {
                                  "type": "Terminate",
                                  "inputs": {
                                    "runStatus": "Succeeded"
                                  },
                                  "metadata": {
                                    "operationMetadataId": "5fb1e9d7-d829-4b1d-8daa-895dccb71412"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Parse_getProvidedFeedbackEntriesHTTP": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "f65d1d1d-20d9-47cd-8291-b6c8f00e9f7f"
                            }
                          },
                          "Parse_getProvidedFeedbackEntriesHTTP": {
                            "type": "ParseJson",
                            "inputs": {
                              "content": "@body('getProvidedFeedbackEntriesHTTP')",
                              "schema": {
                                "type": "object",
                                "properties": {
                                  "userEmail": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "getProvidedFeedbackEntriesHTTP": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "77581465-ef57-49a7-ad8e-fcccad81cde5"
                            }
                          },
                          "getProvidedFeedbackEntriesHTTP": {
                            "type": "Http",
                            "inputs": {
                              "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/getProvidedFeedbackEntries",
                              "method": "POST",
                              "body": {
                                "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                                "proposalId": "@triggerBody()?['proposalId']",
                                "supervisorEmail": "@triggerBody()?['supervisorEmail']"
                              }
                            },
                            "runtimeConfiguration": {
                              "contentTransfer": {
                                "transferMode": "Chunked"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "1ac66080-5ca3-4236-ae3e-0cfae39a7014"
                            }
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "001e4862-207d-4d76-8244-fd9d0b2d5afa"
                        }
                      }
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9bd9abc8-9ac9-4134-a2e3-72100f394b43"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "SupervisorDetails": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d582be1-075d-4223-8d22-7c7e4fb1dd8e"
              }
            },
            "Switch": {
              "type": "Switch",
              "expression": "@triggerBody()?['actionType']",
              "default": {
                "actions": {
                  "Response_4": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200
                    },
                    "metadata": {
                      "operationMetadataId": "00598947-556d-4afd-8e0c-11c0310f81cc"
                    }
                  }
                }
              },
              "cases": {
                "Accept": {
                  "actions": {
                    "AcceptanceNotification": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                          "emailMessage/To": "@{body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['email']};@{triggerBody()?['supervisorEmail']}",
                          "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Your Proposal has been accepted",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['fullName']},<br><br>Your proposal on \"@{body('Parse_getProposalAndProposalApplication')?['proposal']?['title']}\" has been accepted by a supervisor. Please get in touch with your supervisor \"@{triggerBody()?['supervisorEmail']}\" to get started with the thesis process (just reply to this email).<br><br>Best regards,<br>@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator<br><br>---<br><br>Message of your supervisor: @{triggerBody()?['comment']}</p>",
                          "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                          "emailMessage/ReplyTo": "@triggerBody()?['supervisorEmail']",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365_1"
                        }
                      },
                      "runAfter": {
                        "PersistProposalFeedbackAccept": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "df532c74-17e4-4547-ab22-d8685e1eb082"
                      }
                    },
                    "ComposeAcceptResponse": {
                      "type": "Compose",
                      "inputs": {
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "body": [
                          {
                            "size": "Medium",
                            "text": "Thesis Proposal Accepted",
                            "type": "TextBlock",
                            "weight": "Bolder"
                          }
                        ],
                        "type": "AdaptiveCard",
                        "version": "1.0"
                      },
                      "runAfter": {
                        "AcceptanceNotification": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2cdc3e44-0062-4866-a6f9-eca6b8231044"
                      }
                    },
                    "AcceptResponse": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "headers": {
                          "CARD-UPDATE-IN-BODY": "true"
                        },
                        "body": "@outputs('ComposeAcceptResponse')"
                      },
                      "runAfter": {
                        "ComposeAcceptResponse": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b28276f8-db87-4742-afc2-bf8251d4cb6b"
                      }
                    },
                    "PersistProposalFeedbackAccept": {
                      "type": "Http",
                      "inputs": {
                        "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/persistProposalFeedbackAccept",
                        "method": "POST",
                        "body": {
                          "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                          "proposalId": "@triggerBody()?['proposalId']",
                          "supervisorEmail": "@triggerBody()?['supervisorEmail']",
                          "personResponsibleName": "@{triggerBody()?['personResponsible']}"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a582787c-aeb6-44e8-9963-64933c3f6b62"
                      }
                    }
                  },
                  "case": "ACCEPT"
                },
                "Accept_Tentative": {
                  "actions": {
                    "TentativeAcceptanceNotification": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                          "emailMessage/To": "@{body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['email']};@{triggerBody()?['supervisorEmail']}",
                          "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Your Proposal has attracted interest",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{body('Parse_getProposalAndProposalApplication')?['proposalApplication']?['fullName']},<br><br>Your proposal on \"@{body('Parse_getProposalAndProposalApplication')?['proposal']?['title']}\" has attracted the interest of a supervisor on the condition that the proposal is improved in certain areas. Please review the supervisor feedback, adjust your proposal as needed, and get in touch with your potential supervisor \"@{triggerBody()?['supervisorEmail']}\" (just reply to this email).<br><br>Best regards,<br>@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Thesis Coordinator<br><br>---<br><br>Feedback of your potential supervisor: @{triggerBody()?['comment']}</p>",
                          "emailMessage/Cc": "@triggerBody()?['supervisorEmail']",
                          "emailMessage/Bcc": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                          "emailMessage/ReplyTo": "@triggerBody()?['supervisorEmail']",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365_1"
                        }
                      },
                      "runAfter": {
                        "PersistProposalFeedbackAcceptTentative": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fb0316ef-5a1a-4a75-b425-a805eba40653"
                      }
                    },
                    "ComposeAcceptTentativeResponse": {
                      "type": "Compose",
                      "inputs": {
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "body": [
                          {
                            "size": "Medium",
                            "text": "Thesis Proposal Tentatively Accepted",
                            "type": "TextBlock",
                            "weight": "Bolder"
                          }
                        ],
                        "type": "AdaptiveCard",
                        "version": "1.0"
                      },
                      "runAfter": {
                        "TentativeAcceptanceNotification": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3b8a8234-2ea8-4734-bc8c-7d2a2086e40b"
                      }
                    },
                    "AcceptTentativeResponse": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "headers": {
                          "CARD-UPDATE-IN-BODY": "true"
                        },
                        "body": "@outputs('ComposeAcceptTentativeResponse')"
                      },
                      "runAfter": {
                        "ComposeAcceptTentativeResponse": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4ed555d0-c4a0-49b2-90f4-cd829feeb041"
                      }
                    },
                    "PersistProposalFeedbackAcceptTentative": {
                      "type": "Http",
                      "inputs": {
                        "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/persistProposalFeedbackAcceptTentative",
                        "method": "POST",
                        "body": {
                          "flowSecret": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}",
                          "proposalId": "@{triggerBody()?['proposalId']}",
                          "supervisorEmail": "@{triggerBody()?['supervisorEmail']}"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "dd44226d-cd36-41e9-b01e-dab1a000207b"
                      }
                    }
                  },
                  "case": "ACCEPT_TENTATIVE"
                },
                "Decline": {
                  "actions": {
                    "DeclineNotification": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                          "emailMessage/To": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                          "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Proposal declined (@{body('Parse_getProposalAndProposalApplication')?['proposal']?['title']})",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">The proposal \"@{body('Parse_getProposalAndProposalApplication')?['proposal']?['title']}\" has been declined by \"@{triggerBody()?['supervisorEmail']}\".<br><br><b><strong class=\"editor-text-bold\">Reason: </strong></b>@{triggerBody()?['reason']}<br><b><strong class=\"editor-text-bold\">Comment:</strong></b> @{triggerBody()?['comment']}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365_1"
                        }
                      },
                      "runAfter": {
                        "PersistProposalFeedbackDecline": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c71259f9-094e-4c1d-86ec-684e6f6380cd"
                      }
                    },
                    "ComposeDeclineResponse": {
                      "type": "Compose",
                      "inputs": {
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "body": [
                          {
                            "size": "Medium",
                            "text": "Thesis Proposal Declined",
                            "type": "TextBlock",
                            "weight": "Bolder"
                          }
                        ],
                        "type": "AdaptiveCard",
                        "version": "1.0"
                      },
                      "runAfter": {
                        "DeclineNotification": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "381fa989-f265-46ee-bbd4-b5fe2c8bca59"
                      }
                    },
                    "DeclineResponse": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "headers": {
                          "CARD-UPDATE-IN-BODY": "true"
                        },
                        "body": "@outputs('ComposeDeclineResponse')"
                      },
                      "runAfter": {
                        "ComposeDeclineResponse": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "35a799df-bc89-4032-829d-6f943524cff6"
                      }
                    },
                    "PersistProposalFeedbackDecline": {
                      "type": "Http",
                      "inputs": {
                        "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/persistProposalFeedbackDecline",
                        "method": "POST",
                        "body": {
                          "flowSecret": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}",
                          "proposalId": "@{triggerBody()?['proposalId']}",
                          "supervisorEmail": "@{triggerBody()?['supervisorEmail']}",
                          "reason": "@{triggerBody()?['reason']}",
                          "comment": "@{triggerBody()?['comment']}"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ce062279-2862-470d-84f6-81bfacce17b8"
                      }
                    }
                  },
                  "case": "DECLINE"
                },
                "Reject": {
                  "actions": {
                    "RejectNotification": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "@parameters('Outlook From Address (uzhbf_thesisplatform_outlook_from_address_env_var)')",
                          "emailMessage/To": "@parameters('Outlook Management Inbox (uzhbf_thesisplatform_thesis_inbox_env_var)')",
                          "emailMessage/Subject": "@{parameters('Department (uzhbf_thesisplatform_department_env_var)')} Theses - Proposal rejected (@{body('Parse_getProposalAndProposalApplication')?['proposal']?['title']})",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">The proposal \"@{body('Parse_getProposalAndProposalApplication')?['proposal']?['title']}\" has been rejected by \"@{triggerBody()?['supervisorEmail']}\".<br><br>Reason: @{triggerBody()?['reason']}<br>Comment: @{triggerBody()?['comment']}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365_1"
                        }
                      },
                      "runAfter": {
                        "PersistProposalFeedbackReject": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "647c1798-dde8-4ed4-a921-6572d4b5cd77"
                      }
                    },
                    "ComposeRejectResponse": {
                      "type": "Compose",
                      "inputs": {
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "body": [
                          {
                            "size": "Medium",
                            "text": "Thesis Proposal Rejected",
                            "type": "TextBlock",
                            "weight": "Bolder"
                          }
                        ],
                        "type": "AdaptiveCard",
                        "version": "1.0"
                      },
                      "runAfter": {
                        "RejectNotification": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bc91fc1b-3a49-494d-adab-6585a07d0f0f"
                      }
                    },
                    "RejectResponse": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "headers": {
                          "CARD-UPDATE-IN-BODY": "true"
                        },
                        "body": "@outputs('ComposeRejectResponse')"
                      },
                      "runAfter": {
                        "ComposeRejectResponse": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "841ddf7a-a2fb-4073-868b-e31da5fe675e"
                      }
                    },
                    "PersistProposalFeedbackReject": {
                      "type": "Http",
                      "inputs": {
                        "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/persistProposalFeedbackReject",
                        "method": "POST",
                        "body": {
                          "flowSecret": "@{parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')}",
                          "proposalId": "@{triggerBody()?['proposalId']}",
                          "supervisorEmail": "@{triggerBody()?['supervisorEmail']}",
                          "reason": "@{triggerBody()?['reason']}",
                          "comment": "@{triggerBody()?['comment']}"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "cf6f2414-0580-499f-ac8e-9606dfd90ab2"
                      }
                    }
                  },
                  "case": "REJECT"
                }
              },
              "runAfter": {
                "IsAutoInvokedAction": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5c463cf4-8eb0-443f-99c0-d7807cd879b1"
              }
            },
            "getProposalAndProposalApplication": {
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('Root URL (uzhbf_thesisplatform_root_url_env_var)')}/api/getProposalAndProposalApplication",
                "method": "POST",
                "body": {
                  "flowSecret": "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')",
                  "proposalId": "@triggerBody()?['proposalId']"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "027e2a2c-7f9c-4530-8e40-eeafc801e28b"
              }
            },
            "Parse_getProposalAndProposalApplication": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('getProposalAndProposalApplication')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "proposal": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "language": {
                          "type": "string"
                        },
                        "studyLevel": {
                          "type": "string"
                        },
                        "timeFrame": {},
                        "additionalStudentComment": {
                          "type": "string"
                        },
                        "topicAreaSlug": {
                          "type": "string"
                        },
                        "typeKey": {
                          "type": "string"
                        },
                        "statusKey": {
                          "type": "string"
                        },
                        "ownedByUserEmail": {},
                        "ownedByStudent": {},
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    },
                    "proposalApplication": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "statusKey": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "matriculationNumber": {
                          "type": "string"
                        },
                        "fullName": {
                          "type": "string"
                        },
                        "plannedStartAt": {
                          "type": "string"
                        },
                        "motivation": {
                          "type": "string"
                        },
                        "supervisionId": {},
                        "allowPublication": {
                          "type": "boolean"
                        },
                        "allowUsage": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "getProposalAndProposalApplication": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f32625ab-9cc9-48b0-ae09-c225e0021029"
              }
            },
            "MatchingSupervisor": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site (uzhbf_thesisplatform_sharepoint_site_env_var)')",
                  "table": "@parameters('Supervisors List Name (uzhbf_thesisplatform_supervisors_list_name_env_var)')",
                  "$filter": "Title eq '@{triggerBody()?['supervisoremail']}'",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Parse_getProposalAndProposalApplication": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bd22650b-e96a-448f-9483-fb98a6b2a917"
              }
            },
            "SupervisorDetails": {
              "type": "Compose",
              "inputs": "@first(body('MatchingSupervisor')['value'])",
              "runAfter": {
                "MatchingSupervisor": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4fed7a55-4515-4bf4-95fa-a1e295c50e03"
              }
            }
          },
          "runAfter": {
            "IsFLowSecretCorrect": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad624be4-2c6e-4ba6-a6ea-289d2a7b8ca9"
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "FilterForFailedOrTimedOutStatus": {
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'), equals(item()?['Status'], 'TimedOut'))"
              },
              "metadata": {
                "operationMetadataId": "ca1bedd8-7555-4a99-a290-1c22c2e6e229"
              }
            },
            "CreateHtmlTable": {
              "type": "Table",
              "inputs": {
                "from": "@body('FilterForFailedOrTimedOutStatus')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "ProposalId",
                    "value": "@triggerBody()?['proposalId']"
                  },
                  {
                    "header": "SupervisorEmail",
                    "value": "@triggerBody()?['supervisorEmail']"
                  },
                  {
                    "header": "ActionType",
                    "value": "@triggerBody()?['actionType']"
                  },
                  {
                    "header": "ErrorCode",
                    "value": "@item()?['code']"
                  }
                ]
              },
              "runAfter": {
                "FilterForFailedOrTimedOutStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "34b6a96f-64c6-43fd-89a3-fe7d5ef245ff"
              }
            },
            "Terminate_3": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              },
              "runAfter": {
                "SendFailureNotification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f41eff7-41db-4eae-8e12-46f64d545e8b"
              }
            },
            "SendFailureNotification": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "request/to": "@{parameters('Email Failure Notification (uzhbf_thesisplatform_email_failure_env_var)')};",
                  "request/subject": "(@{parameters('Environment (uzhbf_thesisplatform_environment_env_var)')}) Failure in UZH BF Thesis Platform - Thesis Proposal Feedback",
                  "request/text": "<p>@{body('CreateHtmlTable')}</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
                  "operationId": "SendEmailV3",
                  "connectionName": "shared_sendmail-2"
                }
              },
              "runAfter": {
                "CreateHtmlTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7c370de-36de-45b2-ae99-b7d0e7013242"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "054f28a3-080c-4f8a-9529-1183121f12f9"
          }
        },
        "IsFLowSecretCorrect": {
          "type": "If",
          "expression": {
            "equals": [
              "@triggerOutputs()['headers']['secretKey']",
              "@parameters('Flow Secret (uzhbf_thesisplatform_flow_secret_env_var)')"
            ]
          },
          "actions": {},
          "else": {
            "actions": {
              "Terminate_6": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                },
                "metadata": {
                  "operationMetadataId": "b0e5bdca-638d-4f99-bf6a-88e22b939ecb"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2e8497de-b65d-41bd-bc3e-8d913d2aba3c"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}